#All key and section name must be in lower case. section name = appProperties mapping key name

[batchid]
xpath = /master-agreement, /master-agreement/external-contracting-party, /master-agreement/external-contracting-parties-collection/vendor
elementname = batch-id

[id]
xpath = /master-agreement
elementname = id

[ccmsegment]
xpath = /master-agreement/ccm-segment
elementname = name

[externalpartyinvoicingterms]
xpath = /master-agreement
elementname = external-party-invoicing-terms

[name]
xpath = /master-agreement
elementname = name

[description]
xpath = /master-agreement
elementname = description

[scope]
xpath = /master-agreement
elementname = scope

[contractlanguage]
xpath = /master-agreement/contract-language
elementname = name

[applicablelaw]
xpath = /master-agreement/applicable-law
elementname = name

[internalpartycurrencyclause]
xpath = /master-agreement
elementname = internal-party-currency-clause

[externalpartycurrencyclause]
xpath = /master-agreement
elementname = external-party-currency-clause-long

[documenteffectivedate]
xpath = /master-agreement
elementname = document-effective-date

[docmentexpirydate]
xpath = /master-agreement
elementname = docment-expiry-date

[paymenttermexpirationdate]
xpath = /master-agreement
elementname = payment-term-expiration-date

[paymenttermreminderdate]
xpath = /master-agreement
elementname = payment-term-reminder-date

[internalpartyinvoicingterms]
xpath = /master-agreement
elementname = internal-party-invoicing-terms

[internalpartypaymenteccid]
xpath = /master-agreement/internal-party-payment-terms
elementname = code

[externalpartypaymenteccid]
xpath = /master-agreement/external-party-payment-terms
elementname = code

[externalcontractingparties]
xpath = /master-agreement
elementname = id

[lastsignaturedate]
xpath = /master-agreement
elementname = last-signature-date

[autorenewalperiod]
xpath = /master-agreement
elementname = auto-renewal-period

[terminationnoticelead]
xpath = /master-agreement
elementname = termination-notice-lead

[deliveryterm]
xpath = /master-agreement
elementname = delivery-term

[fxrateclausedescription]
xpath = /master-agreement
elementname = fx-rate-clause-description

[sampledetails1]
xpath = /master-agreement
elementname = sample-details-1

[sampledetails2]
xpath = /master-agreement
elementname = sample-details-2

[dummiesdetails1]
xpath = /master-agreement
elementname = dummies-details-1

[dummiesdetails2]
xpath = /master-agreement
elementname = dummies-details-2

[doaperiodlength]
xpath = /master-agreement
elementname = doa-period-length

[doainformation1]
xpath = /master-agreement
elementname = doa-information-1

[doainformation2]
xpath = /master-agreement
elementname = doa-information-2

[handlingfeedescription1]
xpath = /master-agreement
elementname = handling-fee-description-1

[handlingfeedescription2]
xpath = /master-agreement
elementname = handling-fee-description-2

[stockprotectiondescription1]
xpath = /master-agreement
elementname = stock-protection-description-1

[stockprotectiondescription2]
xpath = /master-agreement
elementname = stock-protection-description-2

[marketingfund]
xpath = /master-agreement
elementname = marketing-fund

[vmitype]
xpath = /master-agreement
elementname = vmi-type

[frozenperioddescription1]
xpath = /master-agreement
elementname = frozen-period-description-1

[frozenperioddescription2]
xpath = /master-agreement
elementname = frozen-period-description-2

[stockagingdescription1]
xpath = /master-agreement
elementname = stock-aging-description-1

[enablementfeedescription1]
xpath = /master-agreement
elementname = enablement-fee-description-1

[enablementfeedescription2]
xpath = /master-agreement
elementname = enablement-fee-description-2

[lumpsumdescription]
xpath = /master-agreement
elementname = lump-sum-description

[renewalreminderdate]
xpath = /master-agreement
elementname = renewal-reminder-date

[termcommunicateddate]
xpath = /master-agreement
elementname = term-communicated-date

###################[contractterminationdetails]

[termtype]
xpath =
# dependent = autorenewal and perpetualterm

[autorenewal]
xpath = /master-agreement
elementname = auto-renewal

[perpetualterm]
xpath = /master-agreement
elementname = perpetual-term


[internalpartylateterms]
xpath = /master-agreement/internal-party-late-terms
elementname = definition-long-text

[status]
xpath = /master-agreement/status
elementname = name

[masteragreementtype]
xpath = /master-agreement/master-agreement-type
elementname = name

[translationneeded]
xpath = /master-agreement/translation-needed
elementname = value

[vpcdocumentclass]
xpath = /master-agreement/vpc-document-class
elementname = name

[documenttype]
xpath = /master-agreement/vpc-document-class
elementname = name

[vpcbusinessarea]
xpath = /master-agreement/vpc-business-area
elementname = name

[contractspendtype]
xpath = /master-agreement/contract-spend-type
elementname = name

[incoterm]
xpath = /master-agreement/inco-terms/inco-term
elementname = name

[jurisdiction]
xpath = /master-agreement/jurisdiction
elementname = name

[internalcontractingpartycurrency]
xpath = /master-agreement/currency
elementname = name

[externalcontractingpartycurrency]
xpath = /master-agreement/currency
elementname = name

[fxrateclause]
xpath = /master-agreement/fx-rate-clause
elementname = value

[supplychainfinancemodel]
xpath = /master-agreement/supply-chain-finance-model
elementname = value

[freesamples]
xpath = /master-agreement/free-samples
elementname = value

[freedummies]
xpath = /master-agreement/free-dummies
elementname = value

[handlingfee]
xpath = /master-agreement/handling-fee
elementname = value

[stockprotection]
xpath = /master-agreement/stock-protection
elementname = value

[vendormanagementreplenishment]
xpath = /master-agreement/vendor-management-replenishment
elementname = value

[vendormanagementinventory]
xpath = /master-agreement/vendor-management-inventory
elementname = value

[frozenperiod]
xpath = /master-agreement/frozen-period
elementname = value

[createdby]
xpath = /master-agreement/created-by
elementname = name

[createdfor]
xpath = /master-agreement/created-for
elementname = name

[internalcontractingparties]
xpath = /master-agreement/internal-contracting-parties/company
elementname = name

[internalpartyearlyterms]
xpath = /master-agreement
elementname = id

[productwarrantyinformation]
xpath =
#dependent fields == concat(elementname = product-warranty-length,product-warranty-information-1,product-warranty-information-2)

[productwarrantylength]
xpath = /master-agreement
elementname = product-warranty-length

[productwarrantyinformation1]
xpath = /master-agreement
elementname = product-warranty-information-1

[productwarrantyinformation2]
xpath = /master-agreement
elementname = product-warranty-information-2

[masteragreementattachment]
xpath =
#dependent field == concat(elementName = attachment-name,date-added) eg msa [20120913];

[masteragreementattachmentname]
xpath = /master-agreement/master-agreement-attachments/master-agreement-attachment
elementname = attachment-name

[masteragreementattachmentdateadded]
xpath = /master-agreement/master-agreement-attachments/master-agreement-attachment
elementname = date-added

[contractdocumentattachment]
xpath =
#dependent field == concat contract-document-name[attachment-name -version- date-added];  eg. DocumentTree1[msat -2- 20121213];

[contractdocumentattachmentdocname]
xpath = /master-agreement/contract-document-attachments/contract-document-attachment
elementname = contract-document-name

[contractdocumentattachmentname]
xpath = /master-agreement/contract-document-attachments/contract-document-attachment
elementname = attachment-name

[contractdocumentattachmentversion]
xpath = /master-agreement/contract-document-attachments/contract-document-attachment
elementname = version

[contractdocumentattachmentdateadded]
xpath = /master-agreement/contract-document-attachments/contract-document-attachment
elementname = date-added

[internalpartypaymenteccdescription]
xpath = /master-agreement/internal-party-payment-terms
elementname = definition

[internalpartypaymentdescription]
xpath = /master-agreement/internal-party-payment-terms
elementname = definition-long-text

[externalpartypaymenteccdescription]
xpath = /master-agreement/external-party-payment-terms
elementname = definition

[externalpartypaymentdescription]
xpath = /master-agreement/external-party-payment-terms
elementname = definition-long-text

[parentcontract]
xpath = /master-agreement
elementname = id-unknown


#*********************************** Stakeholder fields
#reviewer department
[scmehod]
xpath =

[contractmanager]
xpath =


[legal]
xpath =

[scmcategorymanager]
xpath =

#role name mapping
[finance]
xpath =

[operations]
xpath =

[categorydirector]
xpath =

[insurance]
xpath =

[terminalsspecific]
xpath =

[healthandsafety]
xpath =

[othercasapprovers]
xpath =

#new fields
[deviationtaxterms]
xpath = /master-agreement
elementname = deviation-tax-terms

[deviationinvoicingterms]
xpath = /master-agreement
elementname = deviation-invoicing-terms

[deviationfinancialterms]
xpath = /master-agreement
elementname = deviation-financial-terms

[deviationdeliveryterms]
xpath = /master-agreement
elementname = deviation-delivery-terms

[hspolicyprovisions]
xpath = /master-agreement
elementname = hs-policy-provisions

[deviationiprterms]
xpath = /master-agreement
elementname = deviation-ipr-terms

[deviationinsuranceterms]
xpath = /master-agreement
elementname = deviation-insurance-terms

[topcommercialrisks]
xpath = /master-agreement
elementname = top-commercial-risks

[toplegalrisks]
xpath = /master-agreement
elementname = top-legal-risks

[esigncomment]
xpath = /master-agreement
elementname = e-sign-comment

[deliverablerecipients]
xpath = /master-agreement
elementname = deliverable-recipients

[contractdurationclause]
xpath = /master-agreement
elementname = contract-duration-clause

[purchaseordervariation]
xpath = /master-agreement
elementname = purchase-order-variation

[changingmethodlogy]
xpath = /master-agreement
elementname = changing-methodlogy

[specialconditions]
xpath = /master-agreement
elementname = special-conditions

[comments]
xpath = /master-agreement
elementname = comments

[externalpartypaymenttermsclause]
xpath = /master-agreement/external-party-payment-terms
elementname = code

[externalpartylatepaymenttermsclause]
xpath = /master-agreement
elementname = external-party-late-payment-terms-clause

[externalpartyearlypaymentdiscount]
xpath = /master-agreement
elementname = external-party-early-payment-discount

[retentioncomments]
xpath = /master-agreement
elementname = retention-comments

[pricebookattachment]
xpath =
#dependent field == concat = attachment-name [date-added] eg. pba [20120913] ;

[pricebookattachmentname]
xpath = /master-agreement/price-book-attachments/price-book-attachment
elementname = attachment-name

[pricebookattachmentdateadded]
xpath = /master-agreement/price-book-attachments/price-book-attachment
elementname = date-added

[selfservice]
xpath = /master-agreement/self-service
elementname = name

[approvalterminalterms]
xpath = /master-agreement/approval-terminal-terms
elementname = name

[signaturetype]
xpath = /master-agreement/signature-type
elementname = name

[question]
xpath = /master-agreement/question-answer-collection/question-answer
elementname = question

[answer]
xpath = /master-agreement/question-answer-collection/question-answer
elementname = answer

[requestdate]
xpath = /master-agreement/question-answer-collection/question-answer
elementname = request-date

[responsedate]
xpath = /master-agreement/question-answer-collection/question-answer
elementname = response-date

[reviewdate]
xpath = /master-agreement/review-comments-collection/review-comments/
elementname = review-date

[reviewcomment]
xpath = /master-agreement/review-comments-collection/review-comments/
elementname = review-comment

[lastchangedby]
xpath = /master-agreement/last-changed-info-collection/last-changed-info
elementname = last-changed-by

[lastchangedbydate]
xpath = /master-agreement/last-changed-info-collection/last-changed-info
elementname = last-changed-by-date

[vgcesigner]
xpath = /master-agreement/vgc-e-signer
elementname = name

[createdbyuser]
xpath = /master-agreement/created-by-user
elementname = name

[contractowner]
xpath = /master-agreement/contract-owner
elementname = name

[reviewer]
xpath = /master-agreement/review-collection/review/reviewer
elementname = name

[reviewerdepartment]
xpath = /master-agreement/review-collection/review/reviewer-department
elementname = name

[reviewed]
xpath = /master-agreement/review-collection/review
elementname = reviewed

[contractdocumentname]
xpath = /master-agreement/document-version-collection/document-version
elementname = contract-document-name

[version]
xpath = /master-agreement/document-version-collection/document-version
elementname = version

[addedby]
xpath = /master-agreement/document-version-collection/document-version/added-by
elementname = name

[dateadded]
xpath = /master-agreement/document-version-collection/document-version
elementname = date-added

[role]
xpath = /master-agreement/approver-collection/approver/role
elementname = name

[approver]
xpath = /master-agreement/approver-collection/approver/approver
elementname = name

[approvergroup]
xpath = /master-agreement/approver-collection/approver/approver-group
elementname = name

[approverlevelname]
xpath = /master-agreement/approver-collection/approver/approver-level-name
elementname = name

[startdate]
xpath = /master-agreement/approver-collection/approver
elementname = start-date

[enddate]
xpath = /master-agreement/approver-collection/approver
elementname = end-date

[localmarket]
xpath = /master-agreement/local-market-collection/local-market
elementname = name

[additionalcurrencies]
xpath = /master-agreement/additional-currencies
elementname = name

#xpath for parent contract id
[linkedmasteragreementid]
xpath = /master-agreement/linked-master-agreements/linked-master-agreement
elementname = ma-id