#All key and section name must be in lower case

#Boolean flag to run vf integration on specific environment
runondifferentenv = false

#Environment name where vf integration needs to be run
separateenvname = rc_vf

#Boolean key to validate all sections
validateallsections = true

#Specific sections to validate (coma separated). This will be ignored if validateallsections = true
sectionstovalidate = portingmsa

#Boolean key to validate all fields
validateallapppropertiesfields = true

#Specific fields to validate (coma separated). This will be ignored if validateallapppropertiesfields = true. Provide the key value from TestVFIntegrationFieldMapping.cfg
propertyfieldstovalidate = reviewerdepartment,approverlevelname,role

#Boolean flag to check auto porting feature enabled/disabled
isautoportingenabled = true

#Staging list id for contract entity
stagingentitylistidforcontract = 5c348aa7e4b071d130b46080
#stagingentitylistidforcontract = 5b178e1de4b0a9b00588cfb9

#SFTP server details
sftphost = 192.168.2.166
sftpport = 22
sftpusername = sirion_ftp
sftppassword = admin123
sftptargetdir = sirion_ftp/UAT-3/incoming/masteragreements/

#Waiting time before processing staging. (in seconds)
waitbeforestaging = 20

#comma separated multi-select fields
multiselectfields = contractingClientEntities

#comma separated logically mapped fields
indirectmappedfields = pricebookattachment, contractdocumentattachment, masteragreementattachment, productwarrantyinformation,documenttype,termtype

#Comma separated date fields. Values must be in lower case only
datefields = documenteffectivedate,docmentexpirydate,paymenttermexpirationdate,paymenttermreminderdate,lastsignaturedate,renewalreminderdate,termcommunicateddate,reviewdate,lastchangedbydate,startdate,enddate,requestdate,responsedate,dateadded

#date format for comparing actual and expected values of date fields
#dateformat = MMM-dd-yyyy
dateformat = MM-dd-yyyy

#Comma separated dynamic fields
dynamicfields = ccmSegment,contractlanguage,contractspendtype,applicablelaw,jurisdiction,esigncomment,productWarrantiesPresent

#Comma separated multi-select dynamic fields
multiselectdynamicfields = dyn100919, dyn100922, dyn100914, dyn100984, dyn100915, dyn101073, dyn101340

#Comma separated multi-select dynamic fields
singleselectdynamicfields = ccmSegment, dyn100931, dyn100909, dyn100911, dyn100912, dyn100913, contractSpendType, jurisdiction, dyn100938, dyn100940, dyn100941, dyn100944, dyn100950, dyn100953, dyn100957, dyn100958, dyn100960, dyn100936, dyn100862

#Comma separated dynamicTable fields
dynamictablefields = dyn100866,dyn100865,dyn100868,dyn100867,dyn100872,dyn100873,dyn100978,dyn100979,dyn100869,dyn100870,dyn100871,dyn100874,dyn100875,dyn100876,dyn100877,dyn100888,dyn100889,dyn100890,dyn100891,dyn100892,dyn100893

#Comma separated stakeholder fields
stakeholderfields = createdbyuser,contractowner,scmehod,contractmanager,legal,scmcategorymanager,finance,operations,categorydirector,insurance,terminalsspecific,healthandsafety,othercasapprovers

#Expected value for stakeholder fields
expectedstakeholdervalue = Automation User,Anuvrata User

#xpath section name for parent contract id
parentcontractidxpathsectionname = linkedmasteragreementid

#value for parent contract id to produce "Missing Parent" status
parentcontractid = 19001

#value for term type fields
valuewhenautorenewalistrue = Auto Renewal
valuewhenperpetualtermistrue = Perpetual
valuewhenbotharefalse = Fixed



###################################################################################################
#Section for different type of test data

[portingmsa]
testdatafilepath = src/test/resources/TestConfig/integration/vf/testData/portingMSA

[portingsow]
testdatafilepath = src/test/resources/TestConfig/integration/vf/testData/portingSOW

[portingcontractswithparentmissingstatus]
testdatafilepath = src/test/resources/TestConfig/integration/vf/testData/portingContractsWithParentMissingStatus

[portingcontractswithparkedstatus]
testdatafilepath = src/test/resources/TestConfig/integration/vf/testData/portingContractsWithParkedStatus

[portingmultiplecontracts]
testdatafilepath = src/test/resources/TestConfig/integration/vf/testData/portingMultipleContracts

[portingcontractswithreprocessing]
testdatafilepath = src/test/resources/TestConfig/integration/vf/testData/portingContractsWithReProcessing