#All keys and section names must be in lower case only.

[client admin user details]
username = naveen_admin
password = admin123

[client end user details]
username = akshay_user1
password = admin123

[supplier type user details]
username = supplier_user1
password = admin123

[tc-c8342]
checked = false
displaymode = display

[tc-c8345]
checked = false
displaymode = editable

[tc-c8349]
checked = false
displaymode = editable