#put the page size here
#And Put the entity name to test in entitytotest (comma seperated)
#default size is used for the list Data when first call=true.
offset=0
size=100
defaultsize=20
orderdirectiondesc="desc nulls last"
orderdirectionasc="asc nulls first"
entitysectionsplitter = ,
testforallentities = true
entitytotest =  child obligations
allentitytotest = governance body
columnstoavoid = Conditions,requested_by,completed_by

columnstotest = id,Id,ID