#This file contains group id corresponding to entity and field to test for renaming purposes
entity to test = purchase orders,service data,invoice line item,consumptions,invoices

[purchase orders]
group id = 1005
language id = 1
field names to test = PO Number

[service data]
group id = 421
language id = 1
field names to test = Name

[consumptions]
group id = 1374
language id = 1
field names to test = Final Consumption

[invoice line item]
group id = 1216
language id = 1
field names to test = ID

[invoices]
group id = 91
language id = 1
field names to test = ID