#DFT Client Ids
client id = 1002
#Client currency is defined as USD

contractid = 25164
contractidwithoutratecard = 25927

#PO In Submitted State
purchase order id = 4916

invoiceflowsconfigfilepath = src/test/resources/TestConfig/Invoice
invoiceflowsconfigfilename = InvoiceFlows.cfg


flowstotestinvoice =currency conv defined
flowstotestservicedata = curr oth than client service data date range lie in conv matrix,curr same as client service data date range lie in conv matrix
flowsforconversionvalueslineitem = arc flow 1,vol pricing flow amount discrepency

#,curr oth than client service data date range not lie in conv matrix
allflowstotestinvoice = currency conv defined,currency conv not defined
allflowstotestservicedata = curr oth than client service data date range lie in conv matrix,curr same as client service data date range lie in conv matrix,curr oth than client service data date range not lie in conv matrix

purchase order report id = 386
line item reports to test = 359
invoice reports to validate = 93,81,1008,90,201
#One billing report and one non billing report
service data reports to validate = 355

dynamicfilterid = 1000766
entityfieldid = 105789
#Pricing Template Details
pricingtemplatefilepath = src/test/resources/TestConfig/Invoice

[currency conv defined]
fieldstotestonlyvalues = clientDisputeAmount,clientDiscrepancyOvercharge,clientNetSavings,clientDiscrepancyUndercharge,clientPaidAmount,clientAmountApproved,clientResolvedDiscrepancy
fieldstotestwithbrackets = disputeAmount,discrepancyOvercharge,netSavings,discrepancyUndercharge,paidAmount,amountApproved,resolvedDiscrepancy
fieldstovalidatelineitemlisting = amount,discrepancyResolutionAmount,approvedAmount,discrepencyResolutionPendingAmount
convertedfieldstovalidatelineitemlisting = clientAmount,clientDiscrepancyResolutionAmount,clientApprovedAmount,clientDiscrepencyResolutionPendingAmount
fieldstovalidateinvoicelisting = amountapproved,paidamount,disputeamount,discrepancyovercharge,discrepancyundercharge,netsavings
convertedfieldstovalidateinvoicelisting = clientamountapproved,clientpaidamount,clientdisputeamount,clientdiscrepancyovercharge,clientdiscrepancyundercharge,clientnetsavings

conversionrate = 2
clientcurrency = USD
othercurrency = INR

[currency conv not defined]
fieldstotestonlyvalues = clientDisputeAmount,clientDiscrepancyOvercharge,clientNetSavings,clientDiscrepancyUndercharge,clientPaidAmount,clientAmountApproved,clientResolvedDiscrepancy
fieldstotestwithbrackets = disputeAmount,discrepancyOvercharge,netSavings,discrepancyUndercharge,paidAmount,amountApproved,resolvedDiscrepancy
fieldstovalidatelineitemlisting = amount,discrepancyResolutionAmount,approvedAmount,discrepencyResolutionPendingAmount
convertedfieldstovalidatelineitemlisting = clientAmount,clientDiscrepancyResolutionAmount,clientApprovedAmount,clientDiscrepencyResolutionPendingAmount
fieldstovalidateinvoicelisting = amountapproved,paidamount,disputeamount,taxamount,discrepancyovercharge,discrepancyundercharge,netsavings
convertedfieldstovalidateinvoicelisting = clientamountapproved,clientpaidamount,clientdisputeamount,clientdiscrepancyovercharge,clientdiscrepancyundercharge,clientnetsavings

conversionrate = 3
clientcurrency = USD
othercurrency = INR

[curr oth than client service data date range lie in conv matrix]
conversionrate = 2
clientcurrency = USD
othercurrency = INR

pricingstemplatefilename = ArcRrcFlow1Pricing.xlsm

pricingstemplatesheetname = Pricing
numberofrowstoedit = 1
startingrownum = 6
volumecolumnnum = 7
ratecolumnnum = 8
volumecolumnvalues = 10
ratecolumnvalues = 10

arcsheetname = ARCRRC
numberofcolumntoeditforeachrowforarc = 4
arcrownumber = 6
arccolumnnumber = 7,8,9,10
arcvalue =  100,150,12,ARC

[curr same as client service data date range lie in conv matrix]
conversionrate = 1
clientcurrency = USD
othercurrency = INR

pricingstemplatefilename = ArcRrcFlow1Pricing.xlsm

pricingstemplatesheetname = Pricing
numberofrowstoedit = 1
startingrownum = 6
volumecolumnnum = 7
ratecolumnnum = 8
volumecolumnvalues = 10
ratecolumnvalues = 10

arcsheetname = ARCRRC
numberofcolumntoeditforeachrowforarc = 4
arcrownumber = 6
arccolumnnumber = 7,8,9,10
arcvalue =  100,150,12,ARC

[curr oth than client service data date range not lie in conv matrix]
conversionrate = 2
clientcurrency = USD
othercurrency = INR

pricingstemplatefilename = ArcRrcFlow1Pricing.xlsm

pricingstemplatesheetname = Pricing
numberofrowstoedit = 1
startingrownum = 6
volumecolumnnum = 7
ratecolumnnum = 8
volumecolumnvalues = 10
ratecolumnvalues = 10

arcsheetname = ARCRRC
numberofcolumntoeditforeachrowforarc = 4
arcrownumber = 6
arccolumnnumber = 7,8,9,10
arcvalue =  100,150,12,ARC


#Currency Configuration for Report verification
#invoice Currency Fields And Ids
#invoiceAmount,amountApproved,discrepancyAmount,resolvedDiscrepancy,disputeAmount,paidAmount,discrepancyOvercharge,discrepancyUndercharge,netSavings
#610,625,
#Inv Aging
[93]
datatotest = 6152
conv factor = 5
columns editable = invoiceAmount,amountApproved,discrepancyAmount,resolvedDiscrepancy,disputeAmount,paidAmount
columns to avoid = discrepancyOvercharge,discrepancyUndercharge,netSavings
workflowsteptoperform = activate,onhold

#Invoice Dispute
[81]
datatotest = 13388
conv factor = 2
columns editable = invoiceAmount,amountApproved,discrepancyAmount,disputeAmount,discrepancyOvercharge,discrepancyUndercharge,netSavings
columns to avoid = resolvedDiscrepancy,paidAmount
workflowsteptoperform =

#Invoice LEad Time
[1008]
datatotest = 11826
conv factor = 5
columns editable = amountApproved,disputeAmount,discrepancyOvercharge,discrepancyUndercharge,netSavings
columns to avoid = invoiceAmount,discrepancyAmount,resolvedDiscrepancy,paidAmount
workflowsteptoperform = activate,onhold

#Invoices - Rejected
[90]
datatotest = 22199
#19236
columns editable = amountApproved,disputeAmount,discrepancyOvercharge,discrepancyUndercharge,netSavings
columns to avoid = invoiceAmount,discrepancyAmount,resolvedDiscrepancy,paidAmount
workflowsteptoperform = activate,onhold

#Invoices - Rejected At any point of time
[201]
datatotest = 22199
columns editable = invoiceAmount,amountApproved,discrepancyAmount,disputeAmount,discrepancyOvercharge,discrepancyUndercharge,netSavings
columns to avoid = resolvedDiscrepancy,paidAmount
workflowsteptoperform = activate,onhold

#Service Data Tracker Report
[355]
datatotest = 43932


[custom currency]
custom currency id line item = 105767
custom currency filter id line item = 1000697
custom currency id invoice = 105788
custom currency filter id invoice = 1000741
custom currency id service data = 105769
custom currency filter id service data = 1000725
custom currency id purchase order = 105808
custom currency filter id purchase order = 1000773