#All keys must be in lower case only.

#Pricing Template Details
pricingtemplatefilepath = src/test/resources/TestConfig/Invoice

#FlowsToValidate: All the flows that are to be validated. This will be used only if TestAllFlows property is set to False.
#Separate multiple flows using delimiter , (comma)
flowstovalidate = invoice line item split service data



[invoice line item split service data]
contractsectionname = invoice line item split service data
servicedatasectionname = invoice line item split service data
invoicesectionname = invoice line item split service data
invoicelineitemsectionname = invoice line item split service data

uploadpricing = true
servicedatatype = arc

pricingstemplatefilename = ArcRrcFlowSplitServiceDataPricing.xlsm

pricingstemplatesheetname = Pricing
splittemplatesheetname = Split
numberofrowstoedit = 1
startingrownum = 6
volumecolumnnum = 7
ratecolumnnum = 8
splitratiocolumnnum = 8
splitattributecolumnnum = 5
volumecolumnvalues = 100
ratecolumnvalues = 10

numberofcolumntoeditforeachrowforarc = 4
arcrownumber = 6
arccolumnnumber = 7,8,9,10
arcvalue =  100,150,12,ARC
finalconsumptionvalues = 13

numberofcolumntoeditforeachrowforsplit = 3
splitrownumber = 6,7
splitcolumnnumber = 0,5,8,0,5,8
splitvalue = 1,India,20,2,Australia,80
expectedresult = Amount Discrepancy