#Section is Entity Name (+ request Payload for hitting listRendederer API)
#randomshowpageidtovalidate is the number of show page id on which we will validate the tabs sorting
#randomshowpageidtovalidate put is as -1 if you want to run it for all db Ids

entitysectionsplitter = ,
testforallentities = true
entitytotest =  child obligations
allentitytotest = suppliers,contracts,obligations,child obligations,contract draft request,actions,clauses,contract templates,issues,interpretations
randomshowpageidtovalidate = 10
pagesizeforpagination = 100
orderdirectiondesc="desc nulls last"
orderdirectionasc="asc nulls first"
languageinwhichrenamingneedtotested = russian

[request_payload]
offset=0
size=100
defaultsize=20
orderdirectiondesc="desc nulls last"
orderdirectionasc="asc nulls first"


[tab layout urls]
charges = 309
consumption = 376
arc/rrc = 311
auditlog = 61









