#PricingSchedulerPollingTime: The time interval between requests to Check if Pricing Scheduler Job is finished (in milliseconds). Default Value is 5000;
pricingschedulerpollingtime = 5000

#PricingSchedulerWaitTimeOut: The timeout for the Pricing Scheduler (in milliseconds). This property is used only when WaitForPricingScheduler is set to True.
#Default Value is 1200000 milliseconds.
pricingschedulerwaittimeout = 600000

#Pricing Template Details
pricingtemplatefilepath = src/test/resources/TestConfig/Invoice

#FailTestIfJobNotCompletedWithinSchedulerTimeOut: Whether to fail test If Job not Completed within Scheduler Time Out or not.
#Possible Values are True or False. Default Value is True.
failtestifjobnotcompletedwithinschedulertimeout = false

#LineItemValidationTimeOut: The timeout for the Invoice Line Item Validation (in milliseconds).
#Default Value is 1200000 milliseconds
lineitemvalidationtimeout = 600000

#FailTestIfLineItemValidationNotCompletedWithinTimeOut: Whether to fail test if Invoice Line Item Validation not Completed within TimeOut or not.
#Possible Values are True or False. Default Value is True.
failtestiflineitemvalidationnotcompletedwithintimeout = false

#WaitForPricingScheduler: Whether to wait for Scheduler to Consume the Pricing Data or not. Possible Values are True or False. Default Value is True.
#If set to True then will wait for the Time specified in property 'PricingSchedulerWaitTimeOut'. Otherwise will dump data to file which can be verified later.
waitforpricingscheduler = true

#wait for billing data
waittimeforbillingdatageneration = 6000000

#wait for line item
waittimeforlineitemgeneration = 600000

flowstovalidate=arc flow for sanity,fixed fee flow for sanity



[custom field name]
service data single select field basic information
service data numeric field basic information
service data date field basic information
service data multi select field basic information
service data text field basic information
#service data text area field basic information

[arc flow for sanity]
contractsectionname = fixed fee flow for sanity
servicedatasectionname = arc flow for sanity
invoicesectionname = fixed fee flow for sanity
invoicelineitemsectionname = fixed fee flow for sanity

uploadpricing = true
arcsheetname = ARCRRC


servicedatatype = arc

pricingstemplatefilenamearc = ArcRrcFlow1Pricing.xlsm
pricingstemplatesheetname = Pricing
numberofrowstoedit = 3
startingrownum = 6
volumecolumnnum = 7
ratecolumnnum = 8
volumecolumnvalues = 10,11,12
ratecolumnvalues = 10,10,10

numberofcolumntoeditforeachrowforarc = 4
arcrownumber = 6
arccolumnnumber = 7,8,9,10
arcvalue =  100,150,12,ARC
finalconsumptionvalues = 13,13,14

lineitemexpectedresult = No Discrepancy

[fixed fee flow for sanity]
contractsectionname = fixed fee flow for sanity
servicedatasectionname = fixed fee flow for sanity
invoicesectionname = fixed fee flow for sanity
invoicelineitemsectionname = fixed fee flow for sanity

uploadpricing = true
arcsheetname = ARCRRC


servicedatatype = fixedFee

pricingstemplatefilenamefixedfee = FixedFeeFlow1Pricing.xlsm
pricingstemplatesheetname = Pricing
numberofrowstoedit = 3
startingrownum = 6
volumecolumnnum = 7
ratecolumnnum = 8
volumecolumnvalues = 10,11,12
ratecolumnvalues = 10,10,10

lineitemexpectedresult = No Discrepancy


[html field type mapping]
MULTISELECT =4
SINGLESELECT =3
NUMBER =18
DATE =8
TEXT =1

[custom values for fields]
min = 4
max = 8
start = 10-01-2019
end = 10-31-2019

[custom field payload]


