#All key must be in lower case

#Csv file details
csvfilepath = src/test/output
csvfilename = rbiTestDataSupplier.csv
csvdelimiter = ;

#Total number of records to be created
totalrecords = 5

#Boolean parameter to generate values under
isemptyvalueallowed = true

#comma separated csv file headers
csvfileheaders = NWB_SHORT_NAME,H_VENDOR_ID,H_VENDOR_NAME,H_SEGMENT1,H_PARENT_VENDOR_ID,H_VENDOR_TYPE_LOOKUP_CODE,H_NUM_1099,H_VAT_REGISTRATION_NUM,H_ONE_TIME_FLAG,H_VENDOR_NAME_ALT,H_EMPLOYEE_ID,H_ORG_TYPE_LOOKUP_CODE,H_ATTRIBUTE1,H_ATTRIBUTE2,H_ATTRIBUTE3,H_ATTRIBUTE4,H_ATTRIBUTE5,H_ATTRIBUTE6,H_ATTRIBUTE7,H_ATTRIBUTE8,H_ATTRIBUTE9,H_ATTRIBUTE10,H_ATTRIBUTE11,H_ATTRIBUTE12,H_ATTRIBUTE13,H_ATTRIBUTE14,H_ATTRIBUTE15,H_CREATION_DATE,H_LAST_UPDATE_DATE,H_END_DATE_ACTIVE,S_VENDOR_SITE_ID,S_VENDOR_SITE_CODE,S_PURCHASING_SITE_FLAG,S_RFQ_ONLY_SITE_FLAG,S_PAY_SITE_FLAG,S_PRIMARY_PAY_SITE_FLAG,S_AREA_CODE,S_PHONE,S_FAX_AREA_CODE,S_FAX,S_EMAIL_ADDRESS,S_VENDOR_SITE_CODE_ALT,S_ADDRESS_LINE1,S_ADDRESS_LINE2,S_ADDRESS_LINE3,S_ADDRESS_LINE4,S_CITY,S_COUNTY,S_STATE,S_PROVINCE,S_ZIP,S_COUNTRY,S_ALLOW_AWT_FLAG,S_AUTO_TAX_CALC_FLAG,S_OFFSET_TAX_FLAG,S_AP_TAX_ROUNDING_RULE,S_AMOUNT_INCLUDES_TAX_FLAG,S_VAT_CODE,S_LIABILITY_ACC,S_PREPAYMENT_ACC,S_FUTURE_DATED_PAYMENTS,S_SHIP_TO_LOCATION,S_BILL_TO_LOCATION,S_FOB_LOOKUP_CODE,S_FREIGHT_TERMS_LOOKUP_CODE,S_INVOICE_AMOUNT_LIMIT,S_MATCH_OPTION,S_INVOICE_CURRENCY_CODE,S_PAYMENT_CURRENCY_CODE,S_TERMS,S_TERMS_DATE_BASIS,S_PAY_DATE_BASIS_LOOKUP_CODE,S_ATTRIBUTE1,S_ATTRIBUTE2,S_ATTRIBUTE3,S_ATTRIBUTE4,S_ATTRIBUTE5,S_ATTRIBUTE6,S_ATTRIBUTE7,S_ATTRIBUTE8,S_ATTRIBUTE9,S_ATTRIBUTE10,S_ATTRIBUTE11,S_ATTRIBUTE12,S_ATTRIBUTE13,S_ATTRIBUTE14,S_ATTRIBUTE15,S_CREATION_DATE,S_LAST_UPDATE_DATE,S_INACTIVE_DATE,C_CONTACT_ID,C_CONTACT_TITLE,C_FIRST_NAME,C_MIDDLE_NAME,C_LAST_NAME,C_ALTERNATE_NAME,C_JOB_TITLE,C_DEPARTMENT,C_EMAIL_ADDRESS,C_URL,C_PHONE_AREA_CODE,C_PHONE_NUMBER,C_PHONE_EXTENSION,C_ALTERNATE_PHONE_AREA_CODE,C_ALTERNATE_PHONE_NUMBER,C_FAX_AREA_CODE,C_FAX_NUMBER,C_ATTRIBUTE1,C_ATTRIBUTE2,C_ATTRIBUTE3,C_ATTRIBUTE4,C_ATTRIBUTE5,C_ATTRIBUTE6,C_ATTRIBUTE7,C_ATTRIBUTE8,C_ATTRIBUTE9,C_ATTRIBUTE10,C_ATTRIBUTE11,C_ATTRIBUTE12,C_ATTRIBUTE13,C_ATTRIBUTE14,C_ATTRIBUTE15,C_CREATION_DATE,C_LAST_UPDATE_DATE,C_INACTIVE_DATE,CONC_REQ_ID

#headers with unique values
headerswithuniquevalues = H_SEGMENT1,H_ATTRIBUTE4

#fixed values is used to pick any random value from the set of given fixed values for that column
[fixed values]
nwb_short_name = RIHQ,RBRU,RBBG,RBCZ,RBHR,RBHU,RBRS,RBKO,RBBY,RBBH,RBAL,AVAL,TBSK,RBRO,RBPL
h_attribute15 = Y,N
s_country = RU,AT,GB,PL,RO,CZ,UA,HR,UA,AL,RS
h_end_date_active = 09.05.2018,09.06.2019
h_vendor_type_lookup_code = VENDOR,CREDITOR

#Default value is used to append before row count. eg. defaultValue+rowCount
[default values]
h_vendor_id = VH
h_vendor_name = RBI Supplier
h_num_1099 = Tax
h_vat_registration_num = REG
s_vendor_site_code = SITE_CODE_
s_vendor_site_id = SITE_ID_
s_address_line1 = sirion
s_address_line2 = labs
s_address_line3 = pvt
s_address_line4 = limited
s_city = gurgaon
s_county = india
s_state = haryana
s_province =  p
s_zip = 123

#Prefix is used to append before generating the unique value(time stamp). eg. prefix+timeStamp(1525872691067)
[prefix]
h_segment1 = Sz
h_attribute4 = Vz