#All the sections and keys must be in lower-case characters only.

#To Test Negative flows of Refresh Access Token API, LaunchTimerTasks flag in Environment Config file must be turned off i.e. set to False. Otherwise tests would be skipped.

#TestAccessTokenExpiry: Whether to Test Access Token  Expiry Case or not.
testaccesstokenexpiry = true

#TestRefreshTokenExpiry: Whether to Test Refresh Token Expiry Case or not.
testrefreshtokenexpiry = true