offset = 0
size = 25
orderbycolumnname = id
orderdirection = desc nulls last

#Boolean flag to determine whether to test all the entities. Default value is true.
isallentitiestobetested = true

#If the above flag is false. Then specify the entity ids to test.
#If isallentitiestobetested is true then this variable will be ignored
entitiestotest = contracts

#Boolean flag to validate all insights for any entity. Default value is false. If its true then all the insights mentioned under entity section will be validated.
validateallinsights = false

#If above filter is false, then provide the insight names which needs to be validated. insight name should be present under corresponding entity section. Give comma(,) separated insight names.
#if validateallinsights is true then this variable will be ignored
#Insight names are case sensitive. Should be the exact name as fetched in insight entity-list api response.

[insightcomputationidfiltermapping]
4 = 6,11,15,95
2 = 6,11,15
8 = 6,11,15,95
1 = 6,11,15,95
12 = 6,11,15,95
16 = 6,11,15,95
18 = 6,11,15,95
20 = 6,11,15,95
45 = 6,11,15,95
33 = 6,11,15,95
25 = 6,23,24,26
22 = 6,24,23,26
35 = 6,22,24,26
27 = 6
47 = 6,23,24,26
48 = 6,24,26
49 = 6,24,26,28
50 = 6,24,26,28
51 = 6,22,23,24,26
52 = 6,22,23,24,26
56 = 6,26,24
59 = 6,24,26,139
72 = 6
73 = 6
74 = 6
62 = 6
65 = 6

[filteroptionvalues]
4->6 = Approved,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Internal Review Completed,Newly Created,Peer Review Completed,Rejected,Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected
4->11 = MSA,OLA,PSA,SOW,Work Order
4->15 = Date
4->95 = Auto Renewal,Fixed,Perpetual
2->95 = Auto Renewal,Fixed,Perpetual
2->11 = MSA,OLA,PSA,SOW,Work Order
2->15 = Date
2->6 = Approved,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Internal Review Completed,Newly Created,Peer Review Completed,Rejected,Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected
8->6 = Approved,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Internal Review Completed,Newly Created,Peer Review Completed,Rejected,Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected
8->11 = MSA,OLA,PSA,SOW,Work Order
8->15 = Date
8->95 = Auto Renewal,Fixed,Perpetual
1->6 = Approved,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Internal Review Completed,Newly Created,Peer Review Completed,Rejected,Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected
1->11 = MSA,OLA,PSA,SOW,Work Order
1->15 = Date
1->95 = Auto Renewal,Fixed,Perpetual
12->6 = Approved,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Internal Review Completed,Newly Created,Peer Review Completed,Rejected,Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected
12->11 = MSA,OLA,PSA,SOW,Work Order
12->15 = Date
12->95 = Auto Renewal,Fixed,Perpetual
16->6 = Approved,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Internal Review Completed,Newly Created,Peer Review Completed,Rejected,Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected
16->11 = MSA,OLA,PSA,SOW,Work Order
16->15 = Date
16->95 = Auto Renewal,Fixed,Perpetual
18->6 = Approved,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Internal Review Completed,Newly Created,Peer Review Completed,Rejected,Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected
18->11 = MSA,OLA,PSA,SOW,Work Order
18->15 = Date
18->95 = Auto Renewal,Fixed,Perpetual
20->6 = Approved,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Internal Review Completed,Newly Created,Peer Review Completed,Rejected,Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Inactive,Internal Review Completed,On Hold
20->11 = MSA,OLA,PSA,SOW,Work Order
20->15 = Date
#20->95 = Auto Renewal,Fixed,Perpetual
45->6 = Approved,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Internal Review Completed,Newly Created,Peer Review Completed,Rejected,Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected
45->11 = MSA,OLA,PSA,SOW,Work Order
45->15 = Date
45->95 = Auto Renewal,Fixed,Perpetual
33->6 = Approved,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Internal Review Completed,Newly Created,Peer Review Completed,Rejected,Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected
33->11 = MSA,OLA,PSA,SOW,Work Order
33->15 = Date
#33->95 = Auto Renewal,Fixed,Perpetual
25->6 = Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected,Awaiting Approver Approval,Awaiting Owner Review,Newly Created,Rejected By Approver,Rejected By Owner
25->23 = Deliverable,Milestone,Obligation
25->24 = Date
25->26 = Approved,Archived,Awaiting Approval,On Hold,Overdue,Rejected,Resubmitted,Upcoming
22->6 = Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected,Approved,Awaiting Approver Approval,Awaiting Owner Review,Newly Created,Rejected By Approver,Rejected By Owner
22->24 = Date
22->23 = Deliverable,Milestone,Obligation
22->26 = Approved,Archived,Awaiting Approval,On Hold,Overdue,Rejected,Resubmitted,Upcoming
35->26 = Approved,Archived,Awaiting Approval,On Hold,Overdue,Rejected,Resubmitted,Upcoming
35->24 = Date
35->22 = Assessments,Certificates,Change Management,Contracts,Customer Satisfaction,Disaster Recovery/Business Continuity,Email/Electronic Messaging,Financial,Financial Risk
35->6 = Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected,Approved,Awaiting Approver Approval,Awaiting Owner Review,Rejected By Approver,Rejected By Owner
27->6 = Approved,Archived,Assigned,Closed,Dispute Resolved,Escalated,Newly Created,On Hold,Overdue,Rejected,Upcoming,Active,Awaiting Approval,Dispute Resolved,Escalated To Dispute,Newly Created,Rejected
47->11 = MSA,OLA,PSA,SOW,Work Order
47->23 = Deliverable,Milestone,Obligation
47->24 = Date
47->26 = Approved,Archived,Awaiting Approval,On Hold,Overdue,Rejected,Resubmitted,Upcoming
47->6 = Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected,Approved,Awaiting Approver Approval,Awaiting Owner Review,Rejected By Approver,Rejected By Owner
47->95 = Auto Renewal,Fixed,Perpetual
48->6 = Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected,Approved,Awaiting Approver Approval,Awaiting Owner Review,Rejected By Approver,Rejected By Owner
48->11 = MSA,OLA,PSA,SOW,Work Order
48->15 = Date
48->24 = Date
48->26 = Approved,Archived,Awaiting Approval,On Hold,Overdue,Rejected,Resubmitted,Upcoming
47->95 = Auto Renewal,Fixed,Perpetual
49->28 = Both - Client & Supplier
49->26 = Approved,Archived,Awaiting Approval,On Hold,Overdue,Rejected,Resubmitted,Upcoming
49->24 = Date
49->6 = Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected,Approved,Awaiting Approver Approval,Awaiting Owner Review,Rejected By Approver,Rejected By Owner
49->95 = Auto Renewal,Fixed,Perpetual
49->11 = MSA,OLA,PSA,SOW,Work Order
50->24 = Date
50->6 = Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected,Approved,Awaiting Approver Approval,Awaiting Owner Review,Newly Created,Rejected By Approver,Rejected By Owner
50->26 = Approved,Archived,Awaiting Approval,On Hold,Overdue,Rejected,Resubmitted,Upcoming
50->28 = Both - Client & Supplier
51->6 = Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected,Approved,Awaiting Approver Approval,Awaiting Owner Review,Rejected By Approver,Rejected By Owner
51->22 = Assessments,Certificates,Change Management,Contracts,Customer Satisfaction,Disaster Recovery/Business Continuity,Email/Electronic Messaging,Financial,Financial Risk
51->23 = Deliverable,Milestone,Obligation
51->24 = Date
51->26 = Approved,Archived,Awaiting Approval,On Hold,Overdue,Rejected,Resubmitted,Upcoming
52->6 = Approved,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Internal Review Completed,Newly Created,Peer Review Completed,Rejected,Active,Approved,Archived,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Inactive,Internal Review Completed,Newly Created,On Hold,Peer Review Completed,Rejected
52->22 = Assessments,Certificates,Change Management,Contracts,Customer Satisfaction,Disaster Recovery/Business Continuity,Email/Electronic Messaging,Financial,Financial Risk
52->23 = Deliverable,Milestone,Obligation
52->24 = Date
52->26 = Approved,Archived,Awaiting Approval,On Hold,Overdue,Rejected,Resubmitted,Upcoming
56->6 = Action Initiated,Active,Approved,Archived,Awaiting Client Review,Awaiting Final Approval,Awaiting Internal Review,Awaiting Peer Review,Change Request Initiated,Client Query Submitted,Inactive,Internal Review Completed,Interpretation Initiated,Issue Initiated,Newly Created,On Hold,On Hold - Client Request,On Hold - Supplier Request,Peer Review Completed,Pending - Client Owner Approval,Rejected,Sent for Supplier Review,Supplier Query Submitted,Approved,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Internal Review Completed,Newly Created,Peer Review Completed,Rejected
56->26 = Approved,Archived,Awaiting Approval,Computation Approved,Computation Performed,Computation Rejected,On Hold,Overdue,Rejected,Report Submitted,Returned To Supplier,Review Completed,Upcoming
59->6 = Action Initiated,Active,Approved,Archived,Awaiting Client Review,Awaiting Final Approval,Awaiting Internal Review,Awaiting Peer Review,Change Request Initiated,Client Query Submitted,Inactive,Internal Review Completed,Interpretation Initiated,Issue Initiated,Newly Created,On Hold,On Hold - Client Request,On Hold - Supplier Request,Peer Review Completed,Pending - Client Owner Approval,Rejected,Sent for Supplier Review,Supplier Query Submitted,Approved,Awaiting Client Review,Awaiting Internal Review,Awaiting Peer Review,Internal Review Completed,Newly Created,Peer Review Completed,Rejected
59->24 = Date
56->24 = Date
59->26 = Approved,Archived,Awaiting Approval,Computation Approved,Computation Performed,Computation Rejected,On Hold,Overdue,Rejected,Report Submitted,Returned To Supplier,Review Completed,Upcoming
59->139 = LV:;Low Volume:;#00E626:;false,Met Exp:;Met Expected:;#35bc4b:;false,Met Min:;Met Minimum:;#f9ba06:;false,Met Sig Min:;Met Significantly Minimum:;#FFA500:;true,NA:;Not Applicable:;#898989:;true,ND:;No Data Available:;#1c7724:;true,Not Met:;Not Met:;#f20a0a:;false,NR:;Not Reported:;#840707:;true,WIP:;Work In Progress:;#0864d3:;true
72->6 = Active,Approved,Awaiting Client Review,Inactivated,Newly Created,Rejected,Archived,On Hold
73->6 = Active,Approved,Awaiting Client Review,Inactivated,Newly Created,Rejected,Archived,On Hold
74->6 = Active,Approved,Awaiting Client Review,Inactivated,Newly Created,Rejected,Archived,On Hold
62->6 = Active,Approved,Approved by Finance,Approved by SME,Archived,Awaiting Final Approval,Awaiting Finance Approval,Awaiting Payment,Awaiting Payment Approval,Awaiting SME Approval,Inactive,Invoice Data Extracted,On Hold,Paid,Payment Approved,Payment Rejected,Query Initiated,Received From Client,Received From Supplier,Rejected,Rejected by Finance,Rejected by SME,Returned To Supplier,Active,Approved,Awaiting Final Approval,Awaiting Finance Approval,Awaiting Payment,Awaiting Payment Approval,Awaiting SME Approval,Newly Created,Query Received By Client,Query Received By Supplier,Query Sent To Client,Received From Supplier,Rejected,Returned To Supplier
65->6 = Active,Approved,Approved by Finance,Approved by SME,Archived,Awaiting Final Approval,Awaiting Finance Approval,Awaiting Payment,Awaiting Payment Approval,Awaiting SME Approval,Inactive,Invoice Data Extracted,On Hold,Paid,Payment Approved,Payment Rejected,Query Initiated,Received From Client,Received From Supplier,Rejected,Rejected by Finance,Rejected by SME,Returned To Supplier,Awaiting Final Approval,Awaiting Finance Approval,Awaiting Payment,Awaiting Payment Approval,Awaiting SME Approval,Newly Created,Query Received By Client,Query Received By Supplier,Query Sent To Client,Received From Supplier,Rejected,Returned To Supplier