[default]
entitiestotest = suppliers, contracts,service data, purchase orders, invoices, contract draft request, obligations, child obligations, service levels, child service levels, actions, issues, disputes, invoice line item, change requests, interpretations, work order requests, governance body, governance body meetings, consumptions
testallreports =true
reportstoignore=1000,1008,1011,1001,1010,1005,1003,1002,1007,1004,1006,1009,50,14,22,25,28,24,45,46,47,151,152,55,202,203,401,270,222,49,355,56,442,330,345,282,281
#key here is entity name  and Value is report name
[report to test]
invoices=Invoices - Rejected At Any Point
interpretations=interpretations - faq
invoice line item=Invoice Line Item - Tracker
#actions=actions - volume trend,actions - aging trend,actions - cycle time trend
#issues=issues - volume trend,issues - aging trend,issues - cycle time trend
#contract draft request=contract draft request - status transition report
#invoices=invoice - status transition report
#interpretations=interpretations - faq
#service data=service data - price book report
#child obligations=child obligations - aging trend
consumptions=consumption - status transition report
contracts=contract - top deal/monthly status report
Interpretations=Interpretations - FAQ


