####Coniguration file for Sisense RBAC related tests####

server = localhost
useraccesstablename = User Access
format = "mask": {"type": "number","abbreviations": {"t": true,"b": true,"m": true,"k": false},"separated": true,"decimals": "auto","isdefault": true}
entitytotest = actions,change requests,contract draft request,suppliers,service levels,invoices,service data,issues,disputes,invoice line item,obligations,work order requests
#,contracts
#,governance body meetings
useridstotest = 1248
#2391,
#1255,2801,2391
#2603,2406,2121,1259,2738,2391,2107,1248,2406,2408,2405,2410,2121,2361,2287,2416,2759,2677,2619,2618,2512,2148,1179,1465,2024,2413,2303
#1321
#party id for aditya.gupta
#partyidtotest = 5bc074f71f3403ba070b2db6
partyidtotest = 5c85db106130a69870eaa928

####Database Details####

#dbhostaddress = 192.168.2.193
dbhostaddress = 192.168.2.159
dbportname = 5432
dbname = RC_1.22_new
#dbusername = rouser1
#dbpassword = rouser1@123
dbusername = postgres
dbpassword = postgres


[actions]
title = Actions%20Global
tablename = Actions
table = Actions
dashboardid = 5c0f8e7fbd73771c984f6bd5
widget = 5c0f8e8abd73771c984f6be3
dashboardname = Actions Global automation
cubename = Actions Global
column = ID
sqlidselect = Select DISTINCT "ID" from (
sqentityselect =  AND ac.client_id=1005 and ac.id IN (SELECT "Entity Id" FROM(
sqluseridcheck = where s."user_id"=USERID
sqlendparanthesis = )y))k

[change requests]
title = Change%20Request%20Global
tablename = Change%20Request
table = Change Request
#dashboardid = 5c0f8eddbd73771c984f6c06
dashboardid = 5e12ca9bc6f09c3d58478ebe
#widget = 5c0f8ee2bd73771c984f6c13
widget =5e12cae1c6f09c3d58478ec2
dashboardname = Change Request Global automation
cubename = Change Request Global
column = ID
sqlidselect = Select "ID" from (
sqentityselect =  AND cr.client_id=1005 and cr.id IN (SELECT "Entity Id" FROM(
sqluseridcheck = where s."user_id"=USERID
sqlendparanthesis = )y))k

[contract draft request]
title = Contract%20Draft%20Request%20Global
tablename = Contract%20Draft%20Request
table = Contract Draft Request
#dashboardid = 5c0e4a08bd73771c984ebf7f
#widget = 5c0e4a34bd73771c984ebf8e
#dashboardid = 5ce62871eab4d8063c65577e
dashboardid = 5dce9c6d6bda0833b0f21802
#widget = 5ce62871eab4d8063c65577e
widget = 5dce9cc66bda0833b0f21805
dashboardname = Contract Draft Request Global automation
cubename = Contract Draft Request Global
column = ID
sqlidselect = Select DISTINCT "ID" from (
sqentityselect =  AND cdr.client_id=1005 and cl.system_language_id =1 and cdr.id IN (SELECT "Entity Id" FROM (
sqluseridcheck = )t where t."User Id" =USERID
sqlendparanthesis = ))y

[contracts]
title = Contract%20Global
tablename = Contract
table = Contract
#dashboardid = 5c0f8f09bd73771c984f6c1c
#widget = 5c0f8f0ebd73771c984f6c29
dashboardid = 5e12d79ac6f09c3d58478f08
widget = 5e12d7c3c6f09c3d58478f0b
dashboardname = Contract Global automation
cubename = Contract Global
column = ID
sqlidselect = Select DISTINCT "ID" from (
sqentityselect =  AND con.client_id=1005 and con.id IN(SELECT "Entity Id" FROM(
sqluseridcheck = where s."user_id"=USERID
sqlendparanthesis = )y))k

[disputes]
title = Dispute%20Global
tablename = Dispute
table = Dispute
#dashboardid = 5c0f8f35bd73771c984f6c3d
dashboardid =5e12da5ec6f09c3d58478f35
#widget = 5c0f8f39bd73771c984f6c4b
widget = 5e12da7dee93ed31600aee64
dashboardname = Dispute Global automation
cubename = Dispute Global
column = ID
sqlidselect = Select DISTINCT "ID" from (
sqentityselect =  AND dm.client_id=1005 and dm.id IN(SELECT "Entity Id" FROM(
sqluseridcheck = where m."User Id" = USERID
sqlendparanthesis = )y))k

[governance body meetings]
title = Governance%20Body%20Meeting%20Global
table = Governance Body Meeting
tablename = Governance%20Body%20Meeting
dashboardid = 5e12db00ee93ed31600aee6c
widget = 5e12db1fc6f09c3d58478f38
dashboardname = GBM cube automation
cubename = Governance Body Meeting Global
column = ID
sqlidselect = Select DISTINCT "ID" from (
sqentityselect =  AND gbc.client_id=1005 and gbc.id IN(SELECT "Entity Id" FROM(
sqluseridcheck = where m."user_id"=USERID
sqlendparanthesis = )y))k

[invoices]
title = Invoice%20Global
tablename = Invoice
table = Invoice
#dashboardid = 5c0f90a5bd73771c984f6c9b
dashboardid =5e12db76c6f09c3d58478f3c
#widget = 5c0f90a9bd73771c984f6caa
widget = 5e12db93c6f09c3d58478f3f
dashboardname = Invoice Global automation
cubename = Invoice Global
column = ID
sqlidselect = Select DISTINCT "ID" from (
sqentityselect =  AND bi.client_id=1005 and bi.id IN(SELECT "Entity Id" FROM(
sqluseridcheck = where s."user_id"=USERID
sqlendparanthesis = )y))k

[issues]
title = Issues%20Global
tablename = Issues
table = Issues
dashboardid = 5e12dc81c6f09c3d58478f4f
widget = 5e12dc98c6f09c3d58478f52
dashboardname = Issues Global automation
cubename = Issues Global
column = ID
sqlidselect = Select DISTINCT "ID" from (
sqentityselect =  AND  im.client_id=1005 and im.id IN(SELECT "Entity Id" FROM(
sqluseridcheck = where m."User Id" = USERID
sqlendparanthesis = )y))k

[invoice line item]
title = Line%20Item%20Global
tablename = Line%20Item
table = Line Item
dashboardid = 5e12dcf7c6f09c3d58478f56
widget = 5e12dd13c6f09c3d58478f59
dashboardname = Line Item Global automation
cubename = Line Item Global
column = ID
sqlidselect = Select DISTINCT "ID" from (
sqentityselect =  AND  li.client_id=1005 and li.id IN(SELECT "Entity Id" FROM(
sqluseridcheck = where s."user_id" =USERID
sqlendparanthesis = )y))k

[obligations]
title = Obligations%20Global
tablename = Obligations
table = Obligations
dashboardid = 5e12dd62c6f09c3d58478f5d
widget = 5e12dd71c6f09c3d58478f60
dashboardname = Obligations Global automation
cubename = Obligations Global
column = ID
sqlidselect = Select DISTINCT "ID" from (
sqentityselect =  AND  cdno.client_id=1005 and dno.id IN(SELECT "Entity Id" FROM(
sqluseridcheck = where s."user_id"=USERID
sqlendparanthesis = )y))k

[service data]
title = Service%20Data%20Global
tablename = Service%20Data
table = Service Data
dashboardid = 5e12ddbbc6f09c3d58478f67
widget = 5e12ddd0c6f09c3d58478f6a
dashboardname = Service Data Global automation
cubename = Service Data Global
column = ID
sqlidselect = Select DISTINCT "ID" from (
sqentityselect =  AND  csd.client_id=1005 and csd.id IN(SELECT "Entity Id" FROM(
sqluseridcheck = where s."user_id"=USERID
sqlendparanthesis = )y))k

[service levels]
title = Service%20Levels%20Global
tablename = Service%20Levels
table = Service Levels
dashboardid = 5e12de0ec6f09c3d58478f6e
widget = 5e12de2ac6f09c3d58478f71
dashboardname = Service Levels Global automation
cubename = Service Levels Global
column = ID
sqlidselect = Select DISTINCT "ID" from (
sqentityselect =  AND  csla.client_id=1005 and sl.id IN(SELECT "Entity Id" FROM(
sqluseridcheck = where s."user_id"=USERID
sqlendparanthesis = )y))k

[suppliers]
title = Supplier%20Global
tablename = Supplier
table = Supplier
dashboardid = 5e12df02c6f09c3d58478f75
widget = 5e12df1bc6f09c3d58478f78
dashboardname = Supplier Global automation
cubename = Supplier Global
column = ID
sqlidselect = Select DISTINCT "ID" from (
sqentityselect =  AND  rn.client_id=1005 and rn.id IN(SELECT "id" FROM(
sqluseridcheck = )s where s."User Id" = USERID)
sqlendparanthesis = )y

[work order requests]
title = Work%20Order%20Request%20Global
tablename = Work%20Order%20Request
table = Work Order Request
dashboardid = 5e12e118c6f09c3d58478f7c
widget = 5e12e169c6f09c3d58478f7f
dashboardname = Work Order Request Global automation
cubename = Work Order Request Global
column = ID
sqlidselect = Select DISTINCT "ID" from (
sqentityselect =  AND  wor.client_id=1005 and wor.id IN(SELECT "Entity Id" FROM(
sqluseridcheck = where s."user_id"=USERID
sqlendparanthesis = )y))k

[purchase order]
title = Purchase%20Order%20Global
tablename = Purchase%20Order
table = Purchase Order
dashboardid = 5e12e2acc6f09c3d58478f85
widget = 5e12e326c6f09c3d58478f88
dashboardname = Purchase Order Global automation
cubename = Purchase Order Global
column = ID
sqlidselect = Select DISTINCT "ID" from (
sqentityselect =  AND po.client_id = 1005 AND po.id IN (SELECT k."Entity Id" FROM (
sqluseridcheck = s where s."user_id"=USERID
sqlendparanthesis = )k))p