[default]
Host = dft.prc.office
Port = 80
Scheme = http
j_username = anay_user
password = admin1234a

#JWTEnabled: Whether the JWT Feature is enabled on the Env or not.
jwtEnabled = true
#LaunchTimerTasks: Whether to Launch Refresh Access Token API as Timer Task to generate New Access Token in parallel or not.
#This can be turned off in case where JWT is enabled on the Env but automatically refreshing tokens has been turned off for testing.
launchTimerTasks = true
#AccessTokenRefreshTimeInterval: Time interval between Refresh Token API calls for Access Token. (in minutes)
accessTokenRefreshTimeInterval = 10
#RefreshTokenTimeInterval: Time interval between Refresh Token Expiry. (in minutes)
refreshTokenTimeInterval = 480

#NoOfThreads: No of Threads to use in Multi-Threading. Default Value is 1.
noOfThreads = 5

#AddLatency: Whether to add Latency or not before API Calls. Possible Values are True or False. Default Value is false.
addLatency = false
#latencyTime: Latency Time (in milliseconds) to add if AddLatency is set to True.
latencyTime = 1000

UseCookies = no
X-CSRF-TOKEN = d5e0fc35-d156-44f6-a3b2-9f1470d7b7d0
useCSRFToken = yes
Cookie = JSESSIONID=2C6208DCB902D8BCECCA4FD2E12A8AFD; currentView=month; dnoIds=[]; slaIds=[]; Authorization="2117:46291a5760ad4d8acee6a49e23ece86e3a76702b61d0121500fff9a843fde437"
isProxyEnabled = no
proxyServerHost = 127.0.0.1
proxyServerPort = 8888
dbName = RC_Auto
dbHostAddress = 192.168.2.180
dbPortName = 5433
dbUserName = postgres
dbPassword = postgres