#dbName,dbHostAddress,dbPortName,dbUserName,dbPassword this will be used to compare two records based on DB sorting , don't change
[default]
Host = testwu.sdbox.sirioninc.net
Port = 443
Scheme = https
j_username = anupa
password = admin123
UseCookies = no
X-CSRF-TOKEN = 2990f676-0647-47c1-811c-ee63f5ae647d
useCSRFToken = yes
Cookie = JSESSIONID=3AA6E60111045A34CA88DADA67A31910; currentView=month; dnoIds=[]; slaIds=[]; Authorization="1089:c02d0dc846094fd94f10605368c1556b75b2bde50b7c8ce6d9be03f04eee110a"
isProxyEnabled = no
proxyServerHost = 127.0.0.1
proxyServerPort = 8888
dbName = postgres
dbHostAddress = 192.168.2.110
dbPortName = 5432
dbUserName = postgres
dbPassword = postgres