flowstotest =frequency monthly,frequency quarterly
flowstotestdaily =frequency daily1,frequency daily2
flowstotestinvalid =invalid url1,invalid url2,invalid url3,invalid url4,invalid url5

[source ids]
positive flow = 347
negative flow = 351
negative flow destination scenario = 356

[destination ids]
negative flow destination scenario = 288

[destination config details]
description=API Automation Dest
active=true
email=2474,2359
source=347
supplier=62826
contract=136871
#contract=136870
entity type id=346
#valid query required for query
time zone=8
#performance status=overdue,upcoming
#performance status=4,2240
performance status=4,2240
performance parent id=1,1
date pattern=05-30-2020
report id=514

[frequency daily1]
name=API Automation BP Daily
#computation frequency=Monthly(Date)
computation frequency=1003
frequency=1
sla=1404,1406
slasubcategory=1298,1300
filename = ReportDaily.xlsx
query = opened_atBETWEENjavascript:gs.dateGenerate('2020-06-22','05:30:00')@javascript:gs.dateGenerate('2020-06-23','05:29:59')

[frequency daily2]
name=API Automation BP Daily
#computation frequency=Quarterly1
computation frequency=1006
frequency=1
sla=1412
slasubcategory=1305
filename = ReportDaily.xlsx
query = opened_atBETWEENjavascript:gs.dateGenerate('2020-06-22','05:30:00')@javascript:gs.dateGenerate('2020-06-23','05:29:59')

[frequency monthly]
name=API Automation BP Monthly
#computation frequency=Monthly(Date)
computation frequency=1003
frequency=2
sla=1606
#sla=1429
slasubcategory=1364
#slasubcategory=1319
filename = ReportMonthly1.xlsx
query=severityIN2,3^${newDataCriteria}

[frequency quarterly]
name=API Automation BP Quarterly
#computation frequency=Monthly(Date)
computation frequency=1006
frequency=3
sla=1605
slasubcategory=1364
filename = ReportQuarterly.xlsx
query =severityIN2,3^${newDataCriteria}

#config details for BP service now data fetch
[bp service now data fetch]
servicenowurl = "bpdev.service-now.com";
authorization=Basic c3ZjLXNpcmlvbmxhYnMtZGV2OiEhc2lyaW9ubGFic2RldjEyMw==
tablename = "getIncidents";
newdatacriteria = "opened_at";
#startdate = "2020-05-01%2527%252C%252700:00:00";
#enddate = "2020-05-31%2527%252C%252723:59:59";
starttime = "%27%2C%2705:30:00";
endtime = "%27%2C%2705:29:59";
systemparamfields = number%2Cstate%2Cpriority%2Copened_atf

[invalid url1]
url=https://bpdev.service-now.com/api/snc/v2/bp_rest_api/367dc89cdb80a300f718127b4b9619cd/getIncnts
columns=number,state,opened_at,state,priority
udc=number
username=svc-sirionlabs-dev
password=!!sirionlabsdev123
expectedmsg=Source Validation Failed - No API Definition Found

[invalid url2]
url=https://bpdev.service-now.com/api/*sn*/v2/bp_rest_api/367dc89cdb80a300f718127b4b9619cd/getIncidents
columns=number,state,opened_at,state,priority
udc=number
username=svc-sirionlabs-dev
password=!!sirionlabsdev123
expectedmsg=Source Validation Failed - Requested URI does not represent any resource

[invalid url3]
url=https://*pdev.service-now.com*/api/snc/v2/bp_rest_api/367dc89cdb80a300f718127b4b9619cd/getIncidents
columns=number,state,opened_at,state,priority
udc=number
username=svc-sirionlabs-dev
password=!!sirionlabsdev123
expectedmsg=Source Validation Failed - source with configured URL doesn't exist

[invalid url4]
url=https://bpdev.service-now.com/*pi*/snc/v2/bp_rest_api/367dc89cdb80a300f718127b4b9619cd/getIncidents
columns=number,state,opened_at,state,priority
udc=number
username=svc-sirionlabs-dev
password=!!sirionlabsdev123
expectedmsg=Source Validation Failed - source is unreachable/down

[invalid url5]
url=https://bpdev.service-now.com/api/snc/v2/bp_rest_api/367dc89cdb80a300f718127b4b9619/getIncidents
columns=number,state,opened_at,state,priority
udc=number
username=svc-sirionlabs-dev
password=!!sirionlabsdev123
expectedmsg=Source Validation Failed - Account is not permitted to access REST Resource!