#All keys and section names must be in lower case only.

[client admin user details]
username = naveen_admin
password = admin123

[delegated by end user details]
username = akshay_user
password = admin123
domainuserid = 1183

[delegated to end user details]
username = akshay_user1
password = admin123
delegateduserdomainid = 1193
