#Status Color Mapping Section where Section Name is the Entity Name. Section Name must be in lower case.
#Keys are Colors. Keys must be in lower case
#Values are Status Mapped to that color

#Default Section. If mapping not found for any entity then it will pick default mapping.

[default]
black = Overdue
red = Overdue
yellow = Change Request Initiated
green = Active


[contracts]
green = Newly Created


[issues]
green = Newly Created


[child obligations]
yellow = Archived


[actions]
black = Newly Created