#Section is Entity Name
#Key is accessRestriction area
#Value is permission (true) allowed or (false) restricted


entitysectionsplitter = ,
testforallentities = false
entitytotest =  actions,suppliers,obligations,child obligations,contracts,contract draft request,contract templates
allentitytotest = vendors,suppliers,obligations,child obligations,service levels,child service levels,interpretations,issues,actions,disputes,contracts,change requests,invoices,work order requests,governance body,governance body meetings,contract draft request,purchase orders


[request_payload]
offset = 0
size = 10


[actions]
entityid = 1602
archive = true
onhold = true

[suppliers]
entityid = 1358
archive = true
onhold = false

[obligations]
entityid = 1780
archive = false
onhold = false

[child obligations]
entityid = 4285
archive = false
onhold = false

[contracts]
entityid = 2104
archive = true
onhold = true

[contract draft request]
entityid = 1232
archive = true
onhold = true

[contract templates]
entityid = 1218
archive = true
onhold = true


