#All key and section name must be in lower case

#comma separated list of entities to test
entitiestotest = contract draft requests, change requests

[default]
qaurl = https://qa.automationrep.sirioninc.net
qausername = naveen_user
qapassword = admin123
docuusername = naveen.gupta@sirionlabs.com
docupassword = admin123


[docusign]
dbname= doc_signing_service
dbpass = P@$tgres123
dbportname= 5432
dbusername = postgres
dbhostaddress = 13.233.36.175
integrationid = 2


#payload Data for docusign send api
#Either Keep recipientsemail or (recipientsuserid and recipientsname) comment (Use only one at a time)
[change requests]
entityid = 1509
entitytypeid = 63
#recipientsuserid = 1185
#recipientsname = Vijay User,Vijay User
recipientsemail = docusigntestsirion@gmail.com

[work order requests]
entityid = 1805
entitytypeid = 160
#recipientsuserid = 1185
#recipientsname = Vijay User,Vijay User
recipientsemail = docusigntestsirion@gmail.com

[contract draft requests]
entityid = 1805
entitytypeid = 160
#recipientsuserid = 1185
#recipientsname = Vijay User,Vijay User
recipientsemail = docusigntestsirion@gmail.com

[documents]
documentname = TestDocument
doctype = pdf
documentid = 272478
documenttypecommunicationtab= ATTACHMENT
documenttypecontractdocumenttab= DRAFT

[mic-391]
documentnames = Morethan5mb1.pdf, Morethan5mb2.pdf, Morethan5mb3.pdf, Morethan5mb4.pdf, Morethan5mb5.pdf
documentids = 272742, 272740, 272739, 272741, 272743
documenttypecommunicationtab= ATTACHMENT
integrationid = 2
recipients = docusigntestsirion@gmail.com
entityid = 1805
entitytypeid = 160