#All section names and keys must be in lower case characters only

#TestAllFlows: Whether to Test All Flows or not. Possible values are True or False. Default value is True.
#If True then will test all the flows (sections) mentioned in this file.
#Otherwise will test only those which are mentioned against property 'FlowsToValidate'.
testallflows = true

#FlowsToValidate: All the flows that are to be validated. This will be used only if TestAllFlows property is set to False.
#Separate multiple flows using delimiter , (comma)
flowstovalidate = flow 4

#DeleteEntity: Whether to delete the entity after creation or not. Default Value is True.
deleteentity = true

#ExtraFields Config File Details
extrafieldsconfigfilepath = src/test/resources/TestConfig/InvoiceLineItem/ValidationMessages
extrafieldsconfigfilename = ExtraFieldsForInvoiceLineItemValidationMessages.cfg

#LineItemValidationTimeOut: Maximum time to wait for Line Item Validation to Complete (in milliseconds). Default Value is 600000
lineitemvalidationtimeout = 600000

#LineItemValidationPollingTime: Time after which to check whether the validation completed or not (in milliseconds). Default Value is 5000.
lineitemvalidationpollingtime = 15000

#TC-97989
[flow 1]
sourceentity = invoices
sourcename = API Automation Invoice for Line Item Validation
sourceid = 5801
lineitemtypeid = 1066
expectedresult = Pricing Unavailable

#TC-97981
[flow 2]
sourceentity = invoices
invoicingtype = ARC
sourcename = For ARC RRC Flow TESTING
sourceid = 5550
lineitemtypeid = 1067
expectedresult = Pricing Unavailable

#TC-97985
[flow 3]
sourceentity = invoices
sourcename = For Forecast Flow 1 TESTING
sourceid = 5750
lineitemtypeid = 1070
expectedresult = Pricing Unavailable

#TC-97983
[flow 4]
sourceentity = invoices
sourcename = API Automation Invoice for Line Item Validation Test Forecast
sourceid = 5845
lineitemtypeid = 1070
expectedresult = Pricing Unavailable