#All section names and keys must be in lower case characters only

#TestAllFlows: Whether to Test All Flows or not. Possible values are True or False. Default value is True.
#If True then will test all the flows (sections) mentioned in this file.
#Otherwise will test only those which are mentioned against property 'FlowsToValidate'.
testallflows = true

#FlowsToValidate: All the flows that are to be validated. This will be used only if TestAllFlows property is set to False.
#Separate multiple flows using delimiter , (comma)
flowstovalidate = flow 7

#ExtraFields Config File Details
extrafieldsconfigfilepath = src/test/resources/TestConfig/Contract/Update
extrafieldsconfigfilename = ExtraFieldsForContractUpdate.cfg

#TC-23736
#[flow 1]
#contractid = 2270
#expectedresult = success

#TC-23737
[flow 2]
contractid = 2270
expectedresult = failure

#TC-23739
[flow 3]
contractid = 2270
expectedresult = failure

#TC-23744
[flow 4]
contractid = 2271
expectedresult = success

#TC-23749
[flow 5]
contractid = 2272
expectedresult = success

#TC-23756
[flow 6]
contractid = 2273
expectedresult = failure

#TC-23762
[flow 7]
contractid = 2274
expectedresult = failure

#TC-23739 Part 2
[flow 8]
contractid = 2275
expectedresult = success