#Presently Set according to BA POD Env

#custom filters for getting records on Reports and Listing invoices
contract in use = 133964
filter id invoice = 1003110
custom field id invoice = 103487

flows to test = invoices,invoice line item,consumptions,purchase orders,service data
invoices,invoice line item,consumptions,purchase orders,service data

[invoices]
report ids to test = 51
report ids to skip = 438,93,94
custom currency field id = 103446
downloadable report = 438
filter id = 1003149
list filter id = 1003153
entity id = 17396
conv factor = 8.0

[invoice line item]
report ids to test = 359
report ids to skip =
custom currency field id = 103447
downloadable report =
filter id = 1003157
list filter id = 1003159
entity id = 14822
conv factor = 8.0

[consumptions]
report ids to test = 385
report ids to skip = 1012,402,401
custom currency field id = 103440
downloadableReport =
filter id = 1003029
list filter id = 1003031
entity id = 125874
conv factor = 8.0

[service data]
report ids to test = 355
report ids to skip = 438,93,94
custom currency field id = 103432
downloadableReport =
filter id = 1002996
list filter id = 1003000
entity id = 22017
conv factor = 8.0

[purchase orders]
report ids to test = 386
report ids to skip =
custom currency field id = 103448
downloadableReport =
filter id = 1003163
list filter id = 1003165
entity id = 1415
conv factor = 8.0

#[entity for report]
#invoice tracker
[51]
entity id = 17396
conv factor = 8.0

#Invoice - Status Transition Report
[438]
entity id = No Data
conv factor = 8.0

#Invoices - Aging
[93]
entity id = No Data
conv factor = 8.0

#Invoices - Cycle Time
[94]
entity id = No Data
conv factor = 8.0

# Invoices - Discrepancy
[78]
entity id = No Data
conv factor = 8.0

#Invoices - Dispute
[81]
entity id =  17396
conv factor = 8.0

#Invoices - Lead Time
[1008]
entity id = No Data
conv factor = 8.0

#Invoices - Payment Overdue
[79]
entity id = No Data
conv factor = 8.0

#Invoices - Receipt Overdue
[80]
entity id = No Data
conv factor = 8.0

#Invoices - Rejected
[90]
entity id = 17396
conv factor = 8.0

#Invoices - Rejected At Any Point
[201]
entity id = 17396
conv factor = 8.0

#Invoice Line Item - Tracker
[359]
entity id = 14822
conv factor = 8.0

#Service Data - Billing Report
[444]
entity id = No Data
conv factor = 8.0

#Service Data - Tracker
[355]
entity id = 22017
conv factor = 8.0
# Consumption - Lead time
[1012]
entity id = No Data
conv factor = 8.0

# Consumption - Status Transition Report
[402]
entity id = No Data
conv factor = 8.0

# Consumption - Tracker
[385]
entity id = 125874
conv factor = 8.0

# Consumption - Variance
[401]
entity id = No Data
conv factor = 8.0

#Purchase Order - Tracker Report
[386]
entity id = 1415
conv factor = 8.0