

[group by]



#Contract Price Book Group By Category Name and Show Page Object Mapping Section
#******************************************************************************

#Contract Price Book Group By Category Name and Show Page Objects Mapping are to be defined under GroupByFieldNameShowPageObjectMapping.
#On Show Page, it will look for the Show Page Object Name to validate Data. If mapping is not found for a Filter, then it will not validate data on Show Page.
#Key is Group By Category Label and Value is Show Page Object Name.
#NOTE: This section and keys are case-sensitive.

[groupByCategoryNameShowPageObjectMapping]
Country = service data countries
Service Sub Category = service sub category
Contract Service = contract service
Invoice Type = invoicing type
Resource Unit = service data resource unit id
Service Category = service category


#End of Contract Price Book Group By Category Name and Show Page Object Mapping Section
#******************************************************************************