#All section names and keys must be in lower case characters only

#ValidationImprovementFlowsToValidate: All the flows that are to be validated. Separate multiple flows using delimiter , (comma)
validationimprovementflowstovalidate = improvement flow 1

#DeleteEntity: Whether to delete entity or not. Possible values are True or False. Default Value is True.
deleteentity = true

#ExtraFields Config File Details
extrafieldsconfigfilepath = src/test/resources/TestConfig/Invoice/Invoice/InvoiceDetails
extrafieldsconfigfilename = ExtraFieldsForInvoiceDetails.cfg

#LineItemValidationTimeOut: Maximum time to wait for Line Item Validation to Complete (in milliseconds). Default Value is 600000
lineitemvalidationtimeout = 600000

#LineItemValidationPollingTime: Time after which to check whether the validation completed or not (in milliseconds). Default Value is 5000.
lineitemvalidationpollingtime = 20000

*************** Details Tab Validations Below Gaurav Bhadani*************
#Flows for line item creation for details tab
#Invoice Flows Config File Details
flowsconfigfilepath = src/test/resources/TestConfig/Invoice/Invoice/InvoiceDetails
flowsconfigfilename = InvoiceDetailsFlows.cfg
InvoiceLineItemFilePath = src/test/resources/TestConfig/Invoice/Invoice/InvoiceDetails
InvoiceLineItemFileName = invoiceLineItem.cfg
InvoiceLineItemExtraFieldsFileName = invoiceLineItemExtraFields.cfg

#TestAllFlows: Whether to Test All Flows or not. Possible values are True or False. Default value is True.
#If True then will test all the flows (sections) mentioned in this file.
#Otherwise will test only those which are mentioned against property 'FlowsToValidate'.

testallflows = true

#FlowsToValidate: All the flows that are to be validated. This will be used only if TestAllFlows property is set to False.
#Separate multiple flows using delimiter , (comma)

flowstovalidate = invoice line item misc

tablistid = 357
invoiceid = 5953

#Invoice Details tab filters verification 

#Offset: Default value is 0.
offset = 0
#Size: Default value is 20.
size = 40

#ApplyRandomization: When Set to True then pick some records randomly for Validation. If False then will pick all records for validation. (True to enable, False to disable).
#Default Value is False. If Set to True then Max. No of Records to be validated will be picked from MaxRecordsToValidate property.
applyrandomization = true

#MaxRecordsToValidate: These many records will be picked randomly for Validation. (Default value is 3)
maxrecordstovalidate = 5
#MaxNoOfFiltersToValidate: Randomly pick these many filters for validation. Default value is 3. It is picked only if ApplyRandomization is True.
maxnooffilterstovalidate = 30
#MaxNoOfFilterOptionsToValidate: Randomly pick these many options from all the Options of a Filter. Default value is 3. It is picked only if ApplyRandomization is True.
maxnooffilteroptionstovalidate = 10

defaultstartdate = 01-01-2017
defaultenddate = 03-31-2020

#Expected Date Format on Show Page
expecteddateformat = MMM-dd-yyyy

#FiltersToIgnore: All the filters which are to be ignored for validation. Filter Query names are to be provided.
filterstoignore = currency,invoiceId,discrepancy,lineItemId,stakeholder,supplierAmount,supplierTotal,pendingAmount,serviceData,invoiceLineItemPivot,poNumber,serviceCategory,regions
#status,functions,services,currency,deliveryCountries,lineItemType,invoiceId,serviceSubCategory,serviceCategory,validationStatus,discrepancyReason,approvedAmount,systemAmount,discrepancyAmount,systemTotal,discrepancyTotal,resolvedAmount,billingRegions,billingCountries,deliveryRegions

#startDate,endDate,
*************** End of Details Tab Validations Gaurav Bhadani*************

*************** Validation Improvement Flows Below *************

#TC-98178, TC-98179, TC-98183, TC-98185
[improvement flow 1]
lineitemcreationsection = line item creation section 1
expectedamount = 100

#TC-98180, TC-98184
[improvement flow 2]
lineitemcreationsection = line item creation section 2
expectedamount = 100

************** End of Validation Improvement Flows *************


*************** Line Item Creation Sections Below *****************

[line item creation section 1]
sourceentity = invoices
sourcename = API Automation Invoice for Invoice Details Tab Test
sourceid = 5847
lineitemtypeid = 1066

[line item creation section 2]
sourceentity = invoices
sourcename = API Automation Invoice for Invoice Details Tab Test
sourceid = 5847
lineitemtypeid = 1066

************** End of Line Item Creation Sections *****************

*************** Line Item Creation Sections Below for Details tab testing Gaurav Bhadani *****************
[group by meta fields]
groupbyoptions = 2->Function,3->Service,1->Line Item Type,4->Service Category,5->Service Sub-Category,6->Billing Region,7->Billing Country
offset = 0
size = 20
orderdirection = asc
filterid = 205
filtername = invoiceLineItemPivot

[groupbyfilterlistcolumnmapping]
Function = function
Service = service
Line Item Type = lineItemType
Service Category = serviceDataServiceCategory
Service Sub-Category = serviceSubCategory
Billing Region = billingRegion
Billing Country = billingCountry

*************** End of Line Item Creation Sections for Details tab testing Gaurav Bhadani *****************
