
id = 131
client id = 1007
supplierid = 1918
template id = 1040
cdr id to clone = 3022
raw data create payload = [{"Service Data Name":"Automation Though CDR","Unit Types":"Desktop","Currency":"Indian Rupee (INR)","Service Start Date":"01/02/2021","Service End Date":"28/02/2021","Supplier":"supplier for test (test!@#$%^&*() ( SP01046 )","Client id":"client 17 Mar1805","Supplier id":"supplier 17 Mar1805","Billable":"Yes","Pricing available":"Yes","Pricing for reporting":"No"}]
#Values are based as per raw data create payload and as per CLI template
cli tab column name values = Service Data Name->Automation Though CDR,Unit Types->Desktop,Currency->Indian Rupee (INR),Service Start Date->01/02/2021,Service End Date->28/02/2021,Supplier->supplier for test (test!@#$%^&*() ( SP01046 ),Client id-> ,Supplier id-> ,Billable->Yes,Pricing available->Yes,Pricing for reporting->No