#All Sections and keys must be in lower case characters only.
#Filter Id and Corresponding column Id on listing page

#supplier
1=19
#status
6=24
#governanceBody
12=31
#contractEntity
13=32
#regions
16=21
#functions
17=26
#services
18=22
#tier
19=11634
#countries
66=13531
#weektypes
83=18475
#termType
95=11425
#newcontractTypes
98=11449
#agreementType
101=17879
#vendorHierarchy
120=cannot test
#initiatives
126=13352
#projects
127=38
#projectlevels
128=13353
#hubs
129=13146
#markets
130=13147
#internalContractingParties
131=13148
#companycodes
132=13149
#contractingClientEntities
159=12968
#contractingHubs
187=13069
#contractingMarkets
188=13070
#contractingCompanyCodes
189=13071
#spendType
195=13283
#createdFor
196=13301
#vendorContractingParty
228=13354
#calendartype
241=14024
#state
270=14289
#customer
344=18085
