#All the Default Properties/Other Values are to be stored in Section default.
[default]
#BasePrefix is the prefix that will be added to every new entity created
baseprefix = Automation_

defaulttext = DefaultText
defaultdate = 07-20-2017

#RequiredDateFormat: Convert all the date fields to this format
requireddateformat = MM-dd-YYYY hh:mm:ss

aliasprefix = AL
maxlengthforalias = 5

sourceentity = suppliers
sourcename = Supply wisdom test 1
sourceid = 1233
parententitytype = psa

[arc flow linkedservicedata contract]
sourceentity = suppliers
sourcename = ABC News
sourceid = 1024
parententitytype = psa

[arc flow linkedservicedata service data]
sourceentity = contracts
sourcename = Automation_DefaultText2335981
sourceid = 4677

[arc flow child service data]
sourceentity = contracts
sourcename = Automation_DefaultText2335981
sourceid = 4677

[arc flow linkedservicedata invoice]
sourceentity = contracts
sourcename = Automation_DefaultText2335981
sourceid = 4677

[arc flow linkedservicedata invoice line item]
sourceentity = invoices
sourcename = For ARC RRC Flow TESTING
sourceid = 7543
lineitemtypeid = 1067