
templateId = 1004
invid = INV01203
parentid = 5589
datecolumnids = 11062,11065,11067,11068,11803,11804,87


[invoicelineitemupload]
InvoiceLineItemUploadFilePath = src/test/resources/TestConfig/InvoiceLineItem/UploadFiles
InvoiceLineItemUploadFileName = InvoiceLineItemUploadValidData.xlsm
InvoiceMultipleLineItemUploadFileName = InvoiceLineItemUploadValidDataMultipleLineItems.xlsm
InvoiceInvalidDataFileName = InvoiceLineItemUploadInvalidData.xlsm
showpageid = 5589
invoicedetailstabid = 357
validuploadmessage = 200:;refresh:;Your request has been submitted. On successful validation your file will reflect here, else you will receive an email.:;create

[invoicelineitemdownload]
filterjson = '"156": {"filterId": 156,"filterName": "invoiceId","multiselectValues": {"SELECTEDDATA": [{"id": "5589"}]}}'
columnnames = STATUS,LINE ITEM DESCRIPTION,ID,PURCHASE ORDER,INVOICE NUMBER,CURRENCY,TOTAL,SYSTEM TOTAL,DISCREPANCY TOTAL,INVOICE STATUS,CONTRACT,SUPPLIER,VALIDATION STATUS,TIME ZONE,LINE ITEM NUMBER,SERVICE DATA,SERVICE SUB CATEGORY,SERVICE ID (SUPPLIER),SERVICE START DATE,SERVICE END DATE,ATTRIBUTE VALUE,ADJUSTMENT TYPE,FUNCTIONS,SERVICES,LINE ITEM TYPE,INVOICE DATE,DUE DATE,DISCREPANCY,DISCREPANCY REASONS,SERVICE DATA CURRENCY,SYSTEM CURRENCY,QUANTITY,SYSTEM QUANTITY,AMOUNT,AMOUNT - SYSTEM,DISCREPANCY AMOUNT,APPROVED AMOUNT,DISCREPENCY RESOLUTION PENDING AMOUNT,DISCREPANCY RESOLUTION AMOUNT,CONVERSIONRATE (USD),DISCREPANCYCONVERSIONRATE (USD),DISCREPANCYTAX (USD),SYSTEMCONVERSIONRATE (USD),SYSTEMTAX (USD),TAX (USD),AMOUNT (USD),TOTAL (USD),SYSTEM AMOUNT (USD),SYSTEM TOTAL (USD),DISCREPANCY AMOUNT (USD),DISCREPANCY TOTAL (USD),APPROVED AMOUNT (USD),DISCREPENCY RESOLUTION PENDING AMOUNT (USD),DISCREPANCY RESOLUTION AMOUNT (USD),INVOICE LINE ITEM OWNER,RATE,SYSTEM RATE,DISCREPANCY RATE,REGIONS,COUNTRIES,SERVICE CATEGORY,DISCREPANCY QUANTITY,BASE VOLUME,SYSTEM BASE VOLUME,DISCREPANCY BASE VOLUME,CONVERSION RATE,SYSTEM CONVERSION RATE,DISCREPANCY CONVERSION RATE,CUSTOM CURRENCY FIELD AUTO,CUSTOM CURRENCY FIELD AUTO (USD)
filtercolumnnames = Line Item Id,Invoice Id,INVOICE LINE ITEM PIVOT,LINE ITEM TYPE,SERVICE END DATE,SERVICE START DATE,SERVICE CATEGORY,SERVICE SUB-CATEGORY,STATUS,VALIDATION STATUS,FUNCTIONS,SERVICES,BILLING  REGIONS,BILLING COUNTRIES,DELIVERY REGIONS,DELIVERY COUNTRIES,SERVICE DATA,PO NUMBER,DISCREPANCY,DISCREPANCY REASON,SERVICE DATA CURRENCY,SUPPLIER AMOUNT,SYSTEM AMOUNT,DISCREPANCY AMOUNT,SUPPLIER TOTAL,SYSTEM TOTAL,DISCREPANCY TOTAL,PENDING AMOUNT,RESOLVED AMOUNT,APPROVED AMOUNT,STAKEHOLDERS
downloadedby = Anay User
columndata = line item arc flow 1>Awaiting Approval>LI01094>->testingarcflow>INR>136.00>136.00>0.00>Newly Created>Automation_DefaultText9573492>ABC News>No Discrepancy>Pacific/Port_Moresby>->servicedataarcflow1 (newClient2058)>Travel & Expenses>Mainframe>->->->->newClient2058>newSupplier2058>43160.0>43190.0>->->->Human Resources, IT>Applications Development & Maintenance, Applications Servers, End-User Computing, LAN, Mainframe Services, Network MNS, Projects, Service Desk>ARC-RRC and Transaction Based>>>->->INR>INR>13.00>13.00>136.00>136.00>0.00>>>>>>>>>>>>>Anay User, Shiv User, Shiv User1>
adminusername = gaurav_admin
adminpassword = admin123
invoicelineitemlstid = 357

[showpagevalidationsobjects]
lineItemNumber = lineitemnumber
status = status
supplier = supplier
serviceDataServiceCategory = service category
#billingCountry = billingcountry
serviceEndDate = serviceenddatedisplay
contract = contract
timeZone = timezone


[invoicelineitemfieldvalidations]
nooffieldvalidations = 70
status = Newly Created
sirionLineItemDescription = API AUTOMATION PLEASE DO NOT TOUCH
lineItemType = ARC-RRC and Transaction Based
contract = bulk edit contracts flow 1:;2058
supplier = ABC News:;1024
validationStatus =
timeZone = America/Anchorage
lineItemNumber = 90909090
serviceData = servicedataarcflow1 (newClient2058):;18773
serviceDataServiceCategory = Travel & Expenses
serviceSubCategory = Mainframe
deliveryRegion = APAC
deliveryCountry = India
billingRegion = APAC
billingCountry = India
serviceIdClient = newClient2058
serviceIdSupplier = newSupplier2058
serviceStartDate = Mar-01-2018
serviceEndDate = Mar-31-2018
attribute =
milestoneDescription = testbasicinformationsirionmilestonedescription
adjustmentType = null
function = Human Resources, IT
service = Applications Development & Maintenance, Applications Servers, End-User Computing, LAN, Mainframe Services, Network MNS, Projects, Service Desk
poNumber =
# To be changed
invoiceDate = Jul-03-2018
dueDate = null
discrepancy =
discrepancyReason = Incorrect Rate Card
serviceDataCurrency = INR
currency = INR
systemCurrency = INR
quantity = 123.00
systemQuantity = 12345.00
amount = 123.12
systemAmount = 12345.00
discrepancyAmount = 12,221.88
total = 122.00
systemTotal = 12345.00
discrepancyTotal = 1112.00
approvedAmount = 1234.00
discrepencyResolutionPendingAmount = 1234.00
discrepancyResolutionAmount = 1234.00
parentId = 1067
discrepancyQuantity = 0.00
unit = Desktop
systemUnit =
conversionRate = 12.00
systemConversionRate = 12.00
discrepancyConversionRate = 0.00
rate = 10.00
systemRate = 12.00
discrepancyRate = 2.00
baseVolume = 1234567.12.00
systemBaseVolume = 123.00
discrepancyBaseVolume = -1111.00
variance = 123.12
systemVariance = 123.00
discrepancyVariance = 2.00
tax = 122.00
systemTax = 123.00
discrepancyTax = 1.00
comments = null
systemComments = testsystemcomments1234
discrepancyComments = test1234
currentPricingVersionId = 1491
duplicate =
errorMessages =
clientAmount = 615.00
clientTotal = 610.00
clientSystemAmount = 6170.00
clientSystemTotal = 6170.00
clientDiscrepancyAmount = 6170.00
clientDiscrepancyTotal = 61720.00
clientApprovedAmount = 6170.00
clientDiscrepencyResolutionPendingAmount = 6170.00
clientDiscrepancyResolutionAmount = 6170.00
invoice_number = testingarcflow
invoice line item ownerROLE_GROUP =

[fieldrename]
id1 = 1
id2 = 1216


[invoicelineitemuploadinvaliddata]
88=Anay User
11061=India
11063=1234567.123456
11062=43160.0
11065=43160.0
11108=1234567.123456
100000001=1.0
11109=1234567.123456
100000002=Yes
11067=43160.0
11066=servicedataarcflow1 (newSupplier2058)
11102=APIAUTOMATION_PLEASEDONOTTOUCH ( INV01203 )123
11069=1234567.123456
11068=43190.0
11101=1234567.123456
11788=ABC News ( SP01001 )123
11106=Indian Rupee (INR)
11787=Automation_DefaultText9573492 ( CO01324 )123
11070=Desktop
11072=1234567.123456
11074=1234567.123456
11073=1234567.123456
11076=1234567.123456
11119=1234567.123456
11118=1234567.123456
11792=Asia/Kolkata (GMT +05:30)
11110=Desktop
101159=Ajay User1
11115=1234567.123456
11114=1234567.123456
11117=1234567.123456
11799=1234567.123456
11116=1234567.123456
11798=Incorrect Rate Card
11162=1234567.123456
11161=1234567.123456
11043=testbasicinformationadjustmenttype1234
11120=1234567.123456
11042=9
11129=1234567.123456
11803=43284.0
11804=43437.0
11122=api automRTION 123
11121=1234567.123456
11047=API AUTOMATION PLEASE DO NOT TOUCH
11124=test1234
11046=testbasicinformationrefinvnum1234
11123=testsystemcomments1234
11049=testbasicreflineitemnum1234
11126=Credit
11125=test discrepency resolution comments
11128=1234567.123456
11127=1234567.123456
11050=testsupplierservicecategory
11052=Indian Rupee (INR)
11051=testbasicinformationsirionmilestonedescription
11054=1234567.123456
11053=APAC
11130=1234567.123456
11459=1234567.123456
11056=testbasicinformationsirionmilestoneid
11133=1234567.123456
11055=India
11132=1234567.123456
11058=APAC
11135=1234567.123456
11057=1234567.123456
11137=ARC-RRC and Transaction Based
11059=testbasicinformationmilestoneidsupplier
11458=1234567.123456
86=test comments and attachments
11457=1234567.123456
87=43439.0


[invoicelineitemuploadvaliddata]
88=Anay User
11061=India
11063=1234567.123456
11062=43160.0
11065=43160.0
11108=1234567.123456
100000001=1.0
11109=1234567.123456
100000002=Yes
11067=43160.0
11066=servicedataarcflow1 (newSupplier2058)
11102=APIAUTOMATION_PLEASEDONOTTOUCH ( INV01203 )
11069=1234567.123456
11068=43190.0
11101=1234567.123456
11788=ABC News ( SP01001 )
11106=Indian Rupee (INR)
11787=Automation_DefaultText9573492 ( CO01324 )
11070=Desktop
11072=1234567.123456
11074=1234567.123456
11073=1234567.123456
11076=1234567.123456
11119=1234567.123456
11118=1234567.123456
11792=Asia/Kolkata (GMT +05:30)
11110=Desktop
101159=Ajay User1
11115=1234567.123456
11114=1234567.123456
11117=1234567.123456
11799=1234567.123456
11116=1234567.123456
11798=Incorrect Rate Card
11162=1234567.123456
11161=1234567.123456
11043=testbasicinformationadjustmenttype1234
11120=1234567.123456
11042=9
11129=1234567.123456
11803=43284.0
11804=43437.0
11122=api automRTION 123
11121=1234567.123456
11047=API AUTOMATION PLEASE DO NOT TOUCH
11124=test1234
11046=testbasicinformationrefinvnum1234
11123=testsystemcomments1234
11049=testbasicreflineitemnum1234
11126=Credit
11125=test discrepency resolution comments
11128=1234567.123456
11127=1234567.123456
11050=testsupplierservicecategory
11052=Indian Rupee (INR)
11051=testbasicinformationsirionmilestonedescription
11054=1234567.123456
11053=APAC
11130=1234567.123456
11459=1234567.123456
11056=testbasicinformationsirionmilestoneid
11133=1234567.123456
11055=India
11132=1234567.123456
11058=APAC
11135=1234567.123456
11057=1234567.123456
11137=ARC-RRC and Transaction Based
11059=testbasicinformationmilestoneidsupplier
11458=1234567.123456
86=test comments and attachments
11457=1234567.123456
87=43285.0