#All section names and keys must be in lower case characters only

#Pagination List Data Size: Default Value is 20.
paginationlistdatasize = 10

#MaxRecordsToValidate: Max no of records to validate on listing page. Default value is 5.
maxrecordstovalidate = 10

fieldsvalidationlistdataoffset = 0
fieldsvalidationlistdatasize = 50


showpageexpecteddateformat = MMM-dd-yyyy

entityid = 5505
showpageidtocheck = 5662

adminusername = gaurav_admin
adminpassword = admin123

[invoicegeneraltabfields]
BASIC INFORMATION = ID,Status,Invoice Number,Title,PO Number,Purchase Order,Currency,Supplier,Contract,Source,Source Name/Title,Time Zone,Test Automation Contracting Entity,Invoice Amount,Supplier ID,Client ID,Supplier Name,Sirion Supplier ID,Bill to Address,Ship to Address,Cost Center Code,Supplier Address,Supplier Access,Tier,Email Address,Phone Number,Previous Invoice ID
Contrating Entity = Recipient Hub/Region,Contracting Hub/Region
IMPORTANT DATES = Test Automation Invoice Period Start,Invoice Period End,Credit Period (in days),Invoice Date,Payment Term,Expected Receipt Date,System Receipt Date,Payment Due Date,Actual Payment Date,Actual Receipt Date
Recipient Hub/Region = Recipient Hub,Recipient Market,Recipient Client Entity,Recipient Company Code
Contracting Hub/Region = Contracting Hub,Contracting Market,Contracting Client Entity,Contracting Company Code
FUNCTIONS = Functions,Services,Service Category
GEOGRAPHY = MANAGEMENT GEOGRAPHY
MANAGEMENT GEOGRAPHY = Regions,Countries
STAKEHOLDERS = Invoice Manager,abc
FINANCIAL INFORMATION = Amount Approved,Supplier TAX ID,TAX %,TAX Amount,Supplier Bank Account,Discrepancy Amount,No. Of Line Items,No. Of Line Items With Discrepancy,Paid Amount,Resolved Discrepancy,Dispute Amount,Discrepancy Overcharge,Discrepancy Undercharge,Net Savings
PROJECT INFORMATION = Project ID,Project Levels,Initiatives
LEAD TIMES = Payment Aging
COMMENTS AND ATTACHMENTS = Privacy,Comments,Actual Date,Requested By,Change Request,Upload Files
Upload Files = Upload Files
Invoice Summary Group = Purchase Order,Source Name/Title,Invoice Amount,Credit Period (in days),Payment Due Date,Amount Approved,Discrepancy Amount

[invoices]
sourceentity = contracts
sourcename = Product Sales Agreement - Bloomberg
sourceid = 1246

[invoicedownload]
downloadfilepath = src/test/output/ListDataDownloadOutput/invoices
downloadfilename = AllColumn.xlsx
entitytypeid = 67
entityname = invoices
entitylistid = 10
dataheader = ID, INVOICE NUMBER, TITLE, STATUS, PO NUMBER, SUPPLIER, CURRENCY, PAYMENT STATUS, RECIEPT STATUS, CONTRACT, INVOICE DATE, INVOICE AMOUNT, DISCREPANCY AMOUNT, TEST AUTOMATION CONTRACTING ENTITY, FUNCTIONS, SERVICES, REGIONS, CONTRACT REGIONS, INVOICE PERIOD, CREDIT PERIOD, ACTUAL RECIEPT DATE, EXPECTED RECIEPT DATE, SYSTEM RECIEPT DATE, PAYMENT DUE DATE, ACTUAL PAYMENT DATE, AMOUNT APPROVED, PAID AMOUNT, CONTRACTING HUB, NO. OF LINE ITEMS, RECIPIENT HUB, CONTRACTING MARKET, NO. OF LINE ITEMS WITH DISCREPANCY, RECIPIENT MARKET, CONTRACTING CLIENT ENTITY, RECIPIENT CLIENT ENTITY, RESOLVED DISCREPANCY, CONTRACTING COMPANY CODE, DISPUTE AMOUNT, RECIPIENT COMPANY CODE, INVOICE AMOUNT (USD), DISCREPANCY AMOUNT (USD), AMOUNT APPROVED (USD), PAID AMOUNT (USD), DISPUTE AMOUNT (USD), AGING, CYCLE TIME, CREATED ON, LAST MODIFIED DATE, TIER, PAYMENT TERM, SUPPLIER ID, CLIENT ID, SUPPLIER NAME, SIRION SUPPLIER ID, TAX AMOUNT, EMAIL ADDRESS, PHONE NUMBER, PREVIOUS INVOICE ID, DISCREPANCY OVERCHARGE, DISCREPANCY OVERCHARGE (USD), CREATED BY, DISCREPANCY UNDERCHARGE, DISCREPANCY UNDERCHARGE (USD), LAST MODIFIED BY, NET SAVINGS, NET SAVINGS (USD), PURCHASE ORDER, CONTRACT COUNTRIES, COUNTRIES, INVOICE MANAGER, CUSTOM FIELD1, NUMERIC, INVOICE SUPPLIERS, INVOICE TL, INVOICE VP, INVOICE-SUPPLIER, INVOICE - CUSTOM, CUSTOM FIELD 2, CUSTOM FIELD 3, CUSTOM FIELD 4, CUSTOM FIELD 5, CUSTOM FIELD 6, CUSTOM FIELD 7, CUSTOM FIELD 8, CUSTOM FIELD 33, INV2, INV4, NEWFIELD1, TEST INVOICE EDIT1
filterheader = Supplier, PAYMENT DUE DATE, Contract, Status, Discrepancy Amount (USD), Actual Reciept Date, Tier, Stakeholders, CREATED ON, Recipient Hub, LAST MODIFIED DATE, Regions, Functions, Services, Recipient Market, Vendor Hierarchy, Recipient Client Entity, Payment Term, Supplier ID, Client ID, Invoice Period Start, Recipient Company Code, Invoice Period End, Contracting Hub, Contracting Market, Contracting Client Entity, Contracting Company Code, Created By, Last Modified By, Purchase Order, numeric, INVOICE - CUSTOM, custom field 3, custom field 4, custom field 6, custom field 7, custom field 8, custom field 33
data = INV01203>APIAUTOMATION_PLEASEDONOTTOUCH>Newly Created>POtestingarcflow>ABC News>testingarcflow>Indian Rupee (INR)>->->Automation_DefaultText9573492>43191.0>136.0>0.0>->Human Resources,IT>Applications Development & Maintenance,Applications Servers,End-User Computing,LAN,Mainframe Services,Network MNS,Projects,Service Desk>APAC, EMEA>->03-01-2018 to 03-31-2018>->>>>>>>>->1.0>->->0.0>->->->->->>->680.0>0.0>>>>0.0>->43280.0>43284.0>->>->->->->->->->->>>>>>>Anay User>Anay User>->


[fieldrename]
id1 = 1
id2 = 91

[invoicelistdownload]
listid = 10
filterid = 2
filtername = contract
contractid = 2058
contractname = Automation_DefaultText9573492