#All Sections and keys must be in lower case characters only.
#Filter Id and Corresponding column Id on listing page

#functions
17=12137
#services
18=12138
#AUTOMATION SINGLE SELECT
1001463=109942
#AUTOMATION Mulit SELECT
1001584=110163