#All Sections and keys must be in lower case characters only.
#Filter Id and Corresponding column Id on listing page

#region
16=12162
#AUTOMATION SINGLE SELECT
1001500=109889
#AUTOMATION Mulit SELECT
1001621=110181