#All Sections and keys must be in lower case characters only.
#Filter Id and Corresponding column Id on listing page

#supplier
1=11233
#contract
2=11234
#status
6=8
#regions
16=11763
#functions
17=11761
#services
18=11762
#AUTOMATION SINGLE SELECT
1001337=109662
#AUTOMATION Mulit SELECT
1001338=109663