#All Sections and keys must be in lower case characters only.
#Filter Id and Corresponding column Id on listing page

#supplier
1=11227
#contract
2=11228
#status
6=11225
#functions
17=11766
#services
18=11767
#regions
16=11768
#AUTOMATION SINGLE SELECT
1001522=110001
#AUTOMATION Mulit SELECT
1001646=110228