#All Sections and keys must be in lower case characters only.
#Filter Id and Corresponding column Id on listing page

#supplier
1=240
#status
6=239
#region
16=246
#function
17=247
#service
18=248
#tier
19=11642
#AUTOMATION SINGLE SELECT
1001524=110005
#AUTOMATION Mulit SELECT
1001648=110232