#All Sections and keys must be in lower case characters only.
#Filter Id and Corresponding column Id on listing page

#supplier
1=58
#contract
2=59
#status
6=66
#documentType
11=60
#regions
16=71
#functions
17=74
#services
18=75
#tier
19=11636
#references
21=63
#category
22=61
#performanceTypes
23=62
#responsibility
28=76
#frequency
29=68
#priorityDNO
49=64
#AUTOMATION SINGLE SELECT
1001546=110046
#AUTOMATION Mulit SELECT
1001670=110273