#All keys must be in lower case characters only
#Delimiter to be used throughout this config file to separate fields: ,
#Delimiter to be used to separate extra fields and their values (Values is the Json Object/Array/String). For Ex. extrafields = title::-> "Test" , Alias::-> {"name": "Test2"}
delimiterforextrafields = ::->

hosturl =http://dft.autodev.office:80
#hosturl =http://qa.ca1.office:9001

#All the Default Properties/Other Values are to be stored in Section default.
[default]
#BasePrefix is the prefix that will be added to every new entity created
baseprefix = Automation_

defaulttext = DefaultText
defaultdate = 07-20-2017

#RequiredDateFormat: Convert all the date fields to this format
requireddateformat = MM-dd-YYYY hh:mm:ss

aliasprefix = AL
maxlengthforalias = 5

sourceentity = actions
sourcename = API Automation 0062728
sourceid = 2240
parententitytype = actions
parentname = ABC News
parentid = 1024

expectedweektype = Five Day

[issue week type]
sourceentity = actions
sourcename = API Automation 0062728
sourceid = 2240
parententitytype = actions
parentname = ABC News
parentid = 1024
expectedweektype = Five Day

[dispute week type]
sourceentity = actions
sourcename = API Automation 0062728
sourceid = 2240
parententitytype = actions
parentname = ABC News
parentid = 1024
expectedweektype = Five Day

[flow 1]
sourceentity = actions
sourcename = 181016/02 - Risk 165 - Berkshire Hathaway
sourceid = 1398
parententitytype = actions
parentname = Berkshire Hathaway
parentid = 1027

[issue and dispute flow 1]
sourceentity = actions
sourcename = 181016/02 - Risk 165 - Berkshire Hathaway
sourceid = 1398
parententitytype = actions
parentname = Berkshire Hathaway
parentid = 1027

[client admin user details]
username = naveen_admin
password = admin123

[end user details]
username = akshay_user
password = admin123

[supplier type end user details]
username = supplier_user1
password = admin123

[supplier action default flow]
sourceentity = actions
sourcename = API Automation 0062728
sourceid = 2240
parententitytype = actions
parentname = ABC News
parentid = 1024
expectedweektype = Five Day

[supplier issue default flow]
sourceentity = actions
sourcename = API Automation 0062728
sourceid = 2240
parententitytype = actions
parentname = ABC News
parentid = 1024
expectedweektype = Five Day

[supplier dispute default flow]
sourceentity = actions
sourcename = API Automation 0062728
sourceid = 2240
parententitytype = actions
parentname = ABC News
parentid = 1024
expectedweektype = Five Day

[supplier action flow 1]
sourceentity = actions
sourcename = lkhlhlbklb
sourceid = 2497
parententitytype = actions
parentname = Bloomberg
parentid = 1025

[supplier issue flow 1]
sourceentity = actions
sourcename = lkhlhlbklb
sourceid = 2497
parententitytype = actions
parentname = Bloomberg
parentid = 1025

[supplier dispute flow 1]
sourceentity = actions
sourcename = lkhlhlbklb
sourceid = 2497
parententitytype = actions
parentname = Bloomberg
parentid = 1025

[supplier action flow with actual time]
sourceentity = actions
sourcename = API Automation 0062728
sourceid = 2240
parententitytype = actions
parentname = ABC News
parentid = 1024
expectedweektype = Five Day

[supplier issue flow with actual time]
sourceentity = actions
sourcename = API Automation 0062728
sourceid = 2240
parententitytype = actions
parentname = ABC News
parentid = 1024
expectedweektype = Five Day

[supplier dispute flow with actual time]
sourceentity = actions
sourcename = API Automation 0062728
sourceid = 2240
parententitytype = actions
parentname = ABC News
parentid = 1024
expectedweektype = Five Day

[client action flow with actual time]
sourceentity = actions
sourcename = API Automation 0062728
sourceid = 2240
parententitytype = actions
parentname = ABC News
parentid = 1024
expectedweektype = Five Day

[client issue flow with actual time]
sourceentity = actions
sourcename = API Automation 0062728
sourceid = 2240
parententitytype = actions
parentname = ABC News
parentid = 1024
expectedweektype = Five Day

[client dispute flow with actual time]
sourceentity = actions
sourcename = API Automation 0062728
sourceid = 2240
parententitytype = actions
parentname = ABC News
parentid = 1024
expectedweektype = Five Day

[cdr week type]
expectedweektype = Five Days

[cdr week type with actual time]
expectedweektype = Five Days

[supplier type end user details cdr]
username = karuna_sup
password = admin1234