listdataoffset = 0
maxrecordsforlistdata = 20
maxrecordsforbulkedit = 3
maxrecordsforshow = 3

schedulerwaittimeout = 60000
schedulerpollingtime = 5000

waitforscheduler = true
checkshowpageisblocked = true
taskkilledflag = true

flowstotest = contracts with text field
parentchildflow = service levels with multiple fields
dependentfieldsflows = sl dependent fields

[contracts with text field]
entityname = contracts
fieldtoupdate = Name
fieldtoupdatevalue = Test_Automation_Name

[contracts with multiselect field]
entityname = contracts
fieldtoupdate = Delivery Countries
fieldtoupdatevalue = Afghanistan,Macau

[contracts with multiple fields]
entityname = contracts
fieldtoupdate = Name::Delivery Countries
fieldtoupdatevalue = Test_Automation::Afghanistan,Macau

[contracts with text area field]
entityname = contracts
fieldtoupdate = Brief
fieldtoupdatevalue = This is Test Automation Suite working on bulk edit will update original value soon

[contracts with date field]
entityname = contracts
fieldtoupdate = Effective Date Original
fieldtoupdatevalue = 08-01-2019

[contracts with stake holder field]
entityname = contracts
fieldtoupdate = Contracts Manager
fieldtoupdatevalue = APIAutomation User

[contracts with numberic field]
entityname = contracts
fieldtoupdate = Expiration Notice Period (In Days)
fieldtoupdatevalue = 120

[default field values]
text = Test
date = 07-20-2017
stakeholder = Naveen Kr. Gupta
String number = 50

# SIR-203683

[service levels with text field]
entityname = service levels
fieldtoupdate = Name
fieldtoupdatevalue = Test_Automation_Name

[sl dependent fields]
entityid = 14
getfieldprovisingdata = /fieldprovisioning/
fieldname = fieldName
dependentfield1 = FUNCTIONS - Functions
dependenttfield2 = FUNCTIONS - Services

[service levels with multiple fields]
entityname = service levels
fieldtoupdate = Functions::Services
fieldtoupdatevalue = Human Resources::Employee Training
